<form class="form" [formGroup]="categoryForm" (ngSubmit)="createCategory()" novalidate>
    <div class="modal-header">
        <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="cancel()"><span aria-hidden="true">x</span>
        </button>
        <h4 class="modal-title">Tạo mới thông tin danh mục</h4>
    </div>
    <div class="modal-body">
        <div class="form-group" [ngClass]="(categoryForm.controls.categoryName?.errors && categoryForm.controls.categoryName?.touched) ? 'has-error' : ''">
            <label class="control-label" for="countryNameVN">Tên danh mục:</label>
            <input type="text" class="form-control" required maxlength="200" placeholder="Tên danh mục" formControlName="categoryName" />
            <span class="help-block text-error" *ngIf="categoryForm.controls.categoryName?.errors?.required && categoryForm.controls.categoryName?.touched">Tên danh mục không để trống</span>
            <span class="help-block text-error" *ngIf="categoryForm.controls.categoryName?.errors?.maxlength && categoryForm.controls.categoryName?.touched">Độ dài tên danh mục không quá 200 ký tự</span>
        </div>
        <div class="form-group">
            <label class="control-label" for="countryNameEN">Thuộc nhóm:</label>
            <select class="form-control" id="parentId" formControlName="parentId">
                <option selected="selected"> Chọn mục-nhóm ---</option>
                <option value="1">Mục lớn nhất</option>
                <option value="2">Địa danh</option>
                <option value="3">Danh lam thắng cảnh</option>
            </select>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me" formControlName="status"> Hiển thị
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            <i class="icon-remove"></i> Hủy bỏ
        </button>
        <button type="submit" class="btn btn-success" [disabled]="categoryForm.invalid">
            <i class="icon-save"></i> Lưu lại
        </button>
    </div>
</form>
