<div id="content-header">
    <div id="breadcrumb">
        <a routerLink="/admin/dashboard" title="Quay lại trang chủ" class="tip-bottom"><i class="icon-home"></i> Trang chủ</a>
        <a routerLink="/admin/category-management" class="current">Danh mục bài viết</a>
    </div>
    <h1 *ngIf="stateParam === 'deleted'; else headingPage">Danh sách Danh mục bài viết đã xóa</h1>
    <ng-template #headingPage>
        <h1> Danh sách danh mục bài viết</h1>
    </ng-template>
</div>
<div class="container-fluid">
    <hr>
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title"> <span class="icon">
                <input type="checkbox" id="title-checkbox" name="title-checkbox" />
                </span>
                <h5>Thông tin</h5>
                <button class="btn-createuser btn btn-primary pull-right" (click)="createNewCategory()" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Tạo mới</button>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered table-striped with-check adm-user-list">
                        <thead>
                            <tr>
                                <th><i class="icon-resize-vertical"></i></th>
                                <th>Mã</th>
                                <th>Tên danh mục</th>
                                <th>Thuộc mục lớn</th>
                                <th>Người tạo</th>
                                <th>Ngày tạo</th>
                                <th>Trạng thái</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="checkbox" />
                                </td>
                                <td>1</td>
                                <td>Địa danh</td>
                                <td></td>
                                <td>admin</td>
                                <td class="center">01/01/2017</td>
                                <td><span class="btn-success label-status">Hiển thị</span></td>
                                <td class="adm-tasks">
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" *ngIf="stateParam !== 'deleted'">
                                            <li><a href="#">Sửa</a></li>
                                            <li><a href="#">Xóa</a></li>
                                        </ul>
                                        <ul class="dropdown-menu" *ngIf="stateParam === 'deleted'">
                                            <li><a href="#">Khôi phục</a></li>
                                            <li><a href="#">Xóa hệ thống</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>2</td>
                                <td>Vùng Tây Bắc</td>
                                <td>Địa Danh</td>
                                <td>admin</td>
                                <td class="center">01/01/2017</td>
                                <td><span class="btn-success label-status">Hiển thị</span></td>
                                <td class="adm-tasks">
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span class="caret"></span>
                                        </button>
                                       <ul class="dropdown-menu" *ngIf="stateParam !== 'deleted'">
                                            <li><a href="#">Sửa</a></li>
                                            <li><a href="#">Xóa</a></li>
                                        </ul>
                                        <ul class="dropdown-menu" *ngIf="stateParam === 'deleted'">
                                            <li><a href="#">Khôi phục</a></li>
                                            <li><a href="#">Xóa hệ thống</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>2</td>
                                <td>Vùng Tây Bắc</td>
                                <td>Địa Danh</td>
                                <td>admin</td>
                                <td class="center">01/01/2017</td>
                                <td><span class="btn-success label-status">Hiển thị</span></td>
                                <td class="adm-tasks">
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" *ngIf="stateParam !== 'deleted'">
                                            <li><a href="#">Sửa</a></li>
                                            <li><a href="#">Xóa</a></li>
                                        </ul>
                                        <ul class="dropdown-menu" *ngIf="stateParam === 'deleted'">
                                            <li><a href="#">Khôi phục</a></li>
                                            <li><a href="#">Xóa hệ thống</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>2</td>
                                <td>Vùng Tây Bắc</td>
                                <td>Địa Danh</td>
                                <td>admin</td>
                                <td class="center">01/01/2017</td>
                                <td><span class="btn-success label-status">Hiển thị</span></td>
                                <td class="adm-tasks">
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" *ngIf="stateParam !== 'deleted'">
                                            <li><a href="#">Sửa</a></li>
                                            <li><a href="#">Xóa</a></li>
                                        </ul>
                                        <ul class="dropdown-menu" *ngIf="stateParam === 'deleted'">
                                            <li><a href="#">Khôi phục</a></li>
                                            <li><a href="#">Xóa hệ thống</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>2</td>
                                <td>Vùng Tây Bắc</td>
                                <td>Địa Danh</td>
                                <td>admin</td>
                                <td class="center">01/01/2017</td>
                                <td><span class="btn-success label-status">Hiển thị</span></td>
                                <td class="adm-tasks">
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" *ngIf="stateParam !== 'deleted'">
                                            <li><a href="#">Sửa</a></li>
                                            <li><a href="#">Xóa</a></li>
                                        </ul>
                                        <ul class="dropdown-menu" *ngIf="stateParam === 'deleted'">
                                            <li><a href="#">Khôi phục</a></li>
                                            <li><a href="#">Xóa hệ thống</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>2</td>
                                <td>Vùng Tây Bắc</td>
                                <td>Địa Danh</td>
                                <td>admin</td>
                                <td class="center">01/01/2017</td>
                                <td><span class="btn-success label-status">Hiển thị</span></td>
                                <td class="adm-tasks">
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" *ngIf="stateParam !== 'deleted'">
                                            <li><a href="#">Sửa</a></li>
                                            <li><a href="#">Xóa</a></li>
                                        </ul>
                                        <ul class="dropdown-menu" *ngIf="stateParam === 'deleted'">
                                            <li><a href="#">Khôi phục</a></li>
                                            <li><a href="#">Xóa hệ thống</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
