<!--Footer-part-->
<div class="row-fluid">
  <div id="footer" class="span12"> 2017 &copy; Trip Routes Admin. Contact us <a href="mailto:haonh.87@gmail.com">contact</a> </div>
</div>
<!--end-Footer-part-->
