<div id="content-header">
    <div id="breadcrumb">
        <a routerLink="/admin/dashboard" title="Go to Home" class="tip-bottom">
            <i class="icon-home"></i> Trang chủ</a>
        <a routerLink="/admin/service-management">Quản lý Dịch vụ</a> <a routerLink="/admin/service-management-add" class="current">Tạo mới Dịch vụ</a>
    </div>
    <h1>Tạo mới Dịch vụ</h1>
</div>
<div class="container-fluid"><hr>
  <div class="row-fluid">
    <div class="span12">
      <form class="form-horizontal" novalidate [formGroup]="serviceForm" (ngSubmit)="createPost()">
        <div class="form-group" [ngClass]="(serviceForm.controls.title?.errors && serviceForm.controls.title?.touched) ? 'has-error' : ''">
          <label for="title" class="col-md-2 control-label">Tên dịch vụ <span class="text-required">*</span></label>
          <div class="col-md-10">
            <input type="text" class="form-control" placeholder="Tên dịch vụ" required minlength="20" maxlength="300" formControlName="title" />
            <span class="help-block text-error" *ngIf="serviceForm.controls.title?.errors?.required && serviceForm.controls.title?.touched">Tên dịch vụ không được để trống</span>
            <span class="help-block text-error" *ngIf="(serviceForm.controls.title?.errors?.minlength && (!serviceForm.controls.title?.errors?.required && !serviceForm.controls.title?.errors?.maxlength)) && serviceForm.controls.title?.touched">Tên địa danh không ngắn dưới 20 ký tự</span>
            <span class="help-block text-error" *ngIf="(serviceForm.controls.title?.errors?.maxlength && (!serviceForm.controls.title?.errors?.required && !serviceForm.controls.title?.errors?.minlength)) && serviceForm.controls.title?.touched">Tên địa danh không dài quá 300 ký tự</span>
          </div>
        </div>
        <div class="form-group" [ngClass]="(serviceForm.controls.address?.errors && serviceForm.controls.address?.touched) ? 'has-error' : ''">
          <label for="title" class="col-md-2 control-label">Địa chỉ <span class="text-required">*</span></label>
          <div class="col-md-10">
            <input type="text" class="form-control" placeholder="Địa chỉ" required formControlName="address" />
            <span class="help-block text-error" *ngIf="serviceForm.controls.address?.errors?.required && serviceForm.controls.address?.touched">Địa chỉ không được để trống</span>
          </div>
        </div>
        <div class="form-group" [ngClass]="(serviceForm.controls.description?.errors && serviceForm.controls.description?.touched) ? 'has-error' : ''">
          <label for="description" class="col-md-2 control-label">Mô tả <span class="text-required">*</span></label>
          <div class="col-md-10">
            <textarea class="form-control" required minlength="20" maxlength="350" rows="3" formControlName="description" ></textarea>
            <span class="help-block text-error" *ngIf="serviceForm.controls.description?.errors?.required && serviceForm.controls.description?.touched">Mô tả không được để trống</span>
            <span class="help-block text-error" *ngIf="serviceForm.controls.description?.hasError('minlength') && serviceForm.controls.description?.touched">Mô tả không ngắn dưới 20 ký tự</span>
          </div>
        </div>
        <div class="form-group" [ngClass]="(serviceForm.controls.content?.errors && serviceFrom.controls.content?.touched) ? 'has-error' : ''">
          <label for="content" class="col-md-2 control-label">Nội dung <span class="text-required">*</span></label>
          <div class="col-md-10">
            <textarea class="form-control" required minlength="20" formControlName="content" style="height: 600px;"></textarea>
            <span class="help-block text-error" *ngIf="serviceForm.controls.content?.errors?.required && serviceForm.controls.content?.touched">Nội dung không được để trống</span>
            <span class="help-block text-error" *ngIf="(serviceForm.controls.content?.errors?.minlength && (!serviceForm.controls.content?.errors?.required && !serviceForm.controls.content?.errors?.maxlength)) && serviceForm.controls.content?.touched">Nội dung không ngắn dưới 20 ký tự</span>
          </div>
        </div>
        <div class="form-group" [ngClass]="(serviceForm.controls.email?.errors && serviceFrom.controls.email?.touched) ? 'has-error' : ''">
          <label for="email" class="col-md-2 control-label">Email <span class="text-required">*</span></label>
          <div class="col-md-10">
            <input type="email" class="form-control" placeholder="Địa chỉ email" maxlength="50" formControlName="email" />
            <span class="help-block text-error" *ngIf="serviceForm.controls.email?.errors?.email && serviceForm.controls.email?.touched">Địa chỉ email không đúng định dạng</span>
            <span class="help-block text-error" *ngIf="serviceForm.controls.email?.errors?.maxlength && serviceForm.controls.email?.touched">Địa chỉ email không vượt quá 50 ký tự</span>
          </div>
        </div>
        <div class="form-group" [ngClass]="(serviceForm.controls.telephone?.errors && serviceFrom.controls.telephone?.touched) ? 'has-error' : ''">
          <label for="telephone" class="col-md-2 control-label">Điện thoại <span class="text-required">*</span></label>
          <div class="col-md-10">
            <input type="text" class="form-control" placeholder="Điện thoại" pattern="[0-9]*" minlength="10" maxlength="11" formControlName="telephone" />
            <span class="help-block text-error" *ngIf="serviceForm.controls.telephone?.errors?.minlength && serviceForm.controls.telephone?.touched">Điện thoại không ít hơn 10 số</span>
            <span class="help-block text-error" *ngIf="serviceForm.controls.telephone?.errors?.maxlength && serviceForm.controls.telephone?.touched">Điện thoại không vượt quá 11 số</span>
            <span class="help-block text-error" *ngIf="serviceForm.controls.telephone?.errors?.pattern && serviceForm.controls.telephone?.touched">Điện thoại không đúng định dạng</span>
          </div>
        </div>
        <div class="form-group">
          <label for="categoryId" class="col-md-2 control-label">Thuộc danh mục</label>
          <div class="col-md-10">
            <select id="categoryId" class="form-control dm-selector" formControlName="categoryId">
                <option *ngFor="let category of categories; let i = index" [value]="category.id" [selected]="category.id === 0 ? true: null">{{ category.name }}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="imageUrl" class="col-md-2 control-label">Ảnh</label>
          <div class="col-md-10">
            <input type="file" id="imageUrl" formControlName="imageUrl" multiple (change)="onChange($event, showFileNames)" />
            <div class="uploaded" #showFileNames>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-10 col-md-offset-2">
            <div class="checkbox">
              <label>
                <input type="checkbox" formControlName="status" value="1">
                <span>Hiển thị </span>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group" style="padding: 15px 10px;">
          <div class="text-right">
            <button type="button" class="btn btn-default">Hủy bỏ</button>
            <button type="submit" class="btn btn-success" [disabled]="serviceForm.invalid">Lưu lại</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
