<!--sidebar-menu-->
<div id="sidebar">
    <a routerLink="/admin/dashboard" class="visible-phone"><i class="icon-home"></i> Dashboard</a>
    <ul>
      <li class="active"><a routerLink="/admin/dashboard"><i class="icon-home"></i> <span>Trang chủ</span></a> </li>
      <li class="submenu"><a href="javascript:void(0)"><i class="icon-group"></i> <span>Quản lý tài khoản</span></a>
        <ul>
          <li><a routerLink="/admin/user-management">Danh sách tài khoản</a></li>
          <li><a routerLink="/admin/user-management-add">Thêm mới tài khoản</a></li>
          <li><a [routerLink]="['/admin/user-management', {'state': 'deleted'}]">Tài khoản đã xóa</a></li>
        </ul>
      </li>
      <li class="submenu"><a href="javascript:void(0)"><i class="icon-map-marker"></i> <span>Quản lý thông tin bản đồ</span></a>
        <ul>
          <li><a routerLink="/admin/destination-management">Châu lục thế giới</a></li>
          <li><a routerLink="/admin/country-management">Đất nước</a></li>
        </ul>
      </li>
      <li class="submenu"><a href="javascript:void(0)"><i class="icon-th"></i> <span>Quản lý danh mục</span></a>
        <ul>
          <li><a routerLink="/admin/category-management">Danh mục bài viết</a></li>
          <li><a [routerLink]="['/admin/category-management/', {'state': 'deleted'}]">Danh mục bài viết đã xóa</a></li>
          <li><a routerLink="/admin/category-service-management">Danh mục dịch vụ</a></li>
          <li><a routerLink="/admin/category-service-management/deleted">Danh mục dịch vụ đã xóa</a></li>
        </ul>
      </li>
        <li class="submenu"><a href="javascript:void(0)"><i class="icon-fullscreen"></i> <span>Quản lý địa danh</span></a>
            <ul>
              <li><a routerLink="/admin/post-management-add">Tạo mới Địa danh</a></li>
              <li><a routerLink="/admin/post-management">Danh sách Địa danh</a></li>
              <li><a [routerLink]="['/admin/post-management', {'state': 'deleted'}]">Danh sách Địa danh đã xóa</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="javascript:void(0)"><i class="icon-th-list"></i> <span>Quản lý dịch vụ</span> <span class="label label-important">3</span></a>
            <ul>
              <li><a routerLink="/admin/service-management-add">Tạo mới Dịch vụ</a></li>
              <li><a routerLink="/admin/service-management">Danh sách dịch vụ</a></li>
              <li><a [routerLink]="['/admin/service-management', {'state': 'deleted'}]">Danh sách dịch vụ đã xóa</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="javascript:void(0)"><i class="icon-tint"></i> <span>Quản lý lộ trình</span></a>
          <ul>
              <li><a routerLink="/admin/post-management-add">Tạo mới lộ trình</a></li>
              <li><a routerLink="/admin/route-management">Danh sách Lộ trình</a></li>
              <li><a [routerLink]="['/admin/route-management', {'state' : 'deleted'}]">Danh sách lộ trình đã xóa</a></li>
            </ul>
        </li>
        <li><a href="interface.html"><i class="icon-pencil"></i> <span>Eelements</span></a></li>
        <li class="submenu"> <a href="#"><i class="icon-file"></i> <span>Addons</span> <span class="label label-important">5</span></a>
            <ul>
                <li><a href="index2.html">Dashboard2</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="calendar.html">Calendar</a></li>
                <li><a href="invoice.html">Invoice</a></li>
                <li><a href="chat.html">Chat option</a></li>
            </ul>
        </li>
        <li class="submenu"> <a href="#"><i class="icon-info-sign"></i> <span>Error</span> <span class="label label-important">4</span></a>
            <ul>
                <li><a href="error403.html">Error 403</a></li>
                <li><a href="error404.html">Error 404</a></li>
                <li><a href="error405.html">Error 405</a></li>
                <li><a href="error500.html">Error 500</a></li>
            </ul>
        </li>
        <li class="content"> <span>Monthly Bandwidth Transfer</span>
            <div class="progress progress-mini progress-danger active progress-striped">
                <div style="width: 77%;" class="bar"></div>
            </div>
            <span class="percent">77%</span>
            <div class="stat">21419.94 / 14000 MB</div>
        </li>
        <li class="content"> <span>Disk Space Usage</span>
            <div class="progress progress-mini active progress-striped">
                <div style="width: 87%;" class="bar"></div>
            </div>
            <span class="percent">87%</span>
            <div class="stat">604.44 / 4000 MB</div>
        </li>
    </ul>
</div>
<!--sidebar-menu-->
