.body-adm {
	background:#2E363F;
    
    #header {
        background-color: #1f262d;
        margin-top:10px;
    }

    #search {
        input[type=text], button {
            background-color: #28b779;
        }

        input[type=text] {
            &:focus {
                color: #777;
            }
        }

        > ul {
            border-bottom: 1px solid #37414b;
            > li {
                border-top: 1px solid #37414b;
                border-bottom: 1px solid #1f262d;

                &.active {
                    background-color: #27a9e3;
                    border-bottom: 1px solid #27a9e3;
                    border-top: 1px solid #27a9e3;

                    a {
                        color:#fff;
                        text-decoration:none;
                    }
                }

                > a {
                    > .label {
                        background-color:#F66;
                    }
                    &:hover {
                        background-color: #27a9e3;
                        color:#fff;
                    }
                }
            }

            li {
                ul {
                    background-color: #1e242b;

                    li {
                        a {
                            color: #939da8;

                            &:hover {
                                color: #fff;
	                            background-color: #28b779;
                            }
                        }

                        &.active {
                            a {
                                color: #fff;
	                            background-color: #28b779;
                            }
                        }
                    }
                }
            }
        }
    }

    #sidebar {
        > ul {
            border-bottom: 1px solid #37414b;

            > li {
                border-top: 1px solid #37414b;
                border-bottom: 1px solid #1f262d;

                > a {
                    > .label {
                        background-color: #F66;
                    }

                    &:hover {
                        background-color: #27a9e3;
                        color:#fff;
                    }
                }

                &.active {
                    background-color: #27a9e3;
                    border-bottom: 1px solid #27a9e3;
                    border-top: 1px solid #27a9e3;

                    a {
                        color:#fff; text-decoration:none;
                    }
                }

                ul {
                    background-color: #1e242b;

                    li {
                        a {
                            color:#939da8;

                            &:hover {
                                color: #fff;
                                background-color: #28b779;
                            }
                        }

                        &.active {
                            a {
                                color: #fff;
                                background-color: #28b779;
                            }
                        }
                    }
                }
            }
        }
    }

    #search {
        input[type=text] {
            background-color: #47515b;
            color: #fff; 

            &:focus {
                color: #2e363f;
                color: #fff;
                box-shadow:none;
            }
        }
    }

    .dropdown-menu li a:hover, .dropdown-menu .active a, .dropdown-menu .active a:hover {
        color: #eeeeee;
        background:#666;
    }


    #search {
        input[type=text] {
            background-color: #47515b;
            color: #fff;

            &:focus {
                box-shadow:none;
            }
        }
    }

    .dropdown-menu {
        li {
            a {
                &:hover {
                    color: #eeeeee;
	                background:#666;
                }
            }
        }

        .active {
            a {
                color: #eeeeee;
	            background:#666;

                &:hover {
                    color: #eeeeee;
	                background:#666;
                }
            }
        }
    }

    .top_message {
        float:right;
        padding:20px 12px;
        position:relative;
        top:-13px;
        border-left:1px solid #3D3A37;
        font-size:14px;
        line-height:20px;
        *line-height:20px;
        color:#333; text-align:center;
        vertical-align:middle;
        cursor:pointer;

        &:hover {
            background: #000;
        }
    }

    .rightzero {
        right:0px;
        display:none;
    }
    div.tagsinput {
        border:1px solid #CCC;
        background: #FFF;
        padding:5px;
        width:300px;
        height:100px;
        overflow-y: auto;

        span.tag, input {
            font-family: helvetica;
            font-size: 13px;
            padding: 5px;
            margin-right: 5px;
            margin-bottom:5px;
        }

        span.tag, div {
            display: block;
            float: left;
        }

        span.tag {
            border: 1px solid #a5d24a;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            text-decoration:none;
            background: #cde69c;
            color: #638421;

            a {
                font-weight: bold;
                color: #82ad2b;
                text-decoration:none;
                font-size: 11px;
            } 
        }

        input {
            width:80px;
            margin:0px;
            border:1px solid transparent;
            background: transparent;
            color: #000;
            outline:0px;
        }
    }

    .tags_clear {
        clear: both;
        width: 100%;
        height: 0px;
    }
    .not_valid {
        background: #FBD8DB !important;
        color: #90111A !important;
    }
}

@media screen and (max-width: 480px) {
    body.body-adm {
        #sidebar {
            top:-30px;
            clear: both;
             > a {
                background:#27a9e3;
            }
        }
        .quick-actions_homepage {
             .quick-actions {
                 li {
                     min-width:100%;
                }
             }
        }

        #user-nav {
            margin:0px auto;
            top:-31px;
            border-top:none;
            width:250px;
            left:-3%;
            text-align:center;
            float:none;

            > ul {
                > li {
                    border-top:1px solid #363E48;
                    &:last-child {
                        border-right:1px solid #363E48;
                    }
                }
            }
        }

        #content {
            margin-top:-30px;
        }
    }
	
}
@media (min-width: 768px) and (max-width: 970px) {
    body.body-adm {
        .quick-actions_homepage {
            .quick-actions {
                li {
                    min-width:20.5%;
                }
            }
        }
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    body.body-adm {
        #sidebar {
            > ul {
                ul {
                    &:after {
                        border-right: 6px solid #222;
                    }
                }
            }
        }

        .quick-actions_homepage {
            .quick-actions {
                li {
                    min-width:47%;
                }
            }
        }
    }
}