html, body {
    width: 100%;
    height: 100%;
}

.visible-phone {
    display: none!important;
}

* {
    outline: none !important;
    -moz-outline: none !important;
}

.btn-createuser {
    margin-top: 3px;
    margin-right: 10px;
    font-size: inherit;
}

.label-status {
    font-size: 13px;
    padding: 5px 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"],
input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"],
input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, .label, .dropdown-menu,
.btn, .well, .progress, .table-bordered, .btn-group > .btn:first-child, .btn-group > .btn:last-child, .btn-group > .btn:last-child,
.btn-group > .dropdown-toggle, .alert, .input-group-addon {
    border-radius:1px !important;
}

.btn, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"],
input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"],
input[type="tel"], input[type="color"], .uneditable-input {
    box-shadow:none;
}
.progress, .progress-success .bar, .progress .bar-success, .progress-warning .bar, .progress .bar-warning, .progress-danger .bar, .progress .bar-danger,
.progress-info .bar, .progress .bar-info, .btn, .btn-primary {
     background-image:none;
}

.input-group-addon {
  border: none;
}

/*Metro Background color class*/
.bg_lb{ background:#27a9e3;}
.bg_db{ background:#2295c9;}
.bg_lg{ background:#28b779;}
.bg_dg{ background:#28b779;}
.bg_ly{ background:#ffb848;}
.bg_dy{ background:#da9628;}
.bg_ls{ background:#2255a4;}
.bg_lo{ background:#da542e;}
.bg_lr{ background:#f74d4d;}
.bg_lv{ background:#603bbc;}
.bg_lh{ background:#b6b3b3;}

.text-required {
    color: #b94a48;
}

.text-error {
    color: #a94442 !important;
}

.body-adm {
    background-color: #2E363F;
    margin-top: -20px;
    overflow-x: hidden;
    color:#666;
    font-size: 12px;

    a {
        color:#666;

        &:hover, &:focus {
            text-decoration: none; color:#28b779;
        }
    }

    .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
        color: #fff;
        background-color: #2f96b4;
    }

    .dropdown-menu {
        min-width: 180px;

        &:before {
            position: absolute;
            top: -8px;
            left: 9px;
            display: inline-block;
            border-right: 7px solid transparent;
            border-bottom: 7px solid #fff;
            border-left: 7px solid transparent;
            border-bottom-color: #fff;
            content: '';
        }

        .divider {
            margin:4px 0px;
            height: 1px;
            overflow: hidden;
            background-color: #e5e5e5;
            border-bottom: 1px solid #e5e5e5;
        }

        > li {
            > a {
                padding:3px 10px;
                color:#666;
                font-size:12px;
                display: block;
                clear: both;
                font-weight: normal;
                line-height: 20px;
                white-space: nowrap;

                i {
                    padding-right: 3px;
                }
            }
        }
    }

    /*===== HEADER =====*/
    #header {
        height: 77px;
        position: relative;
        width: 100%;
        z-index: -9;

        h1 {
            background: url("assets/admin/images/logo.png") no-repeat scroll 0 0 transparent;
            height: 31px;
            left: 20px;
            line-height: 600px;
            overflow: hidden;
            position: relative;
            top: 26px;
            width: 191px;

            a {
                display: block;
            }
        }
    }

    /*===== SEARCH INPUT =====*/
    #search {
        position: absolute;
        z-index: 25;
        top: 6px;
        right:10px;

        input[type=text], button {
            background-color: #28b779;
        }

        input[type=text] {
            padding: 5px 10px 5px;
            border: 0;
            width: 100px;

            &:focus {
                color: #777;
            }
        }

        button {
            border: 0;
            margin-left:-3px;
            margin-top: -11px;
            padding: 5px 10px 5px;

            i {
                opacity: 0.8; color:#fff;
            }

            &:hover, &:active {
                i {
                    opacity: 1;
                }
            }
        }
    }

    /*====== SIDEBAR =======*/
    #sidebar {
        display: block;
        float: left;
        position: relative;
        width: 220px;
        z-index: 16;

        > ul {
            list-style: none;
            margin: 0px 0 0;
            padding: 0;
            position: absolute;
            width: 220px;

            > li {
                display: block;
                position: relative;

                > a {
                    padding: 10px 0 10px 15px;
                    display: block;
                    color: #939da8;

                    > i {
                        margin-right: 10px;
                        opacity: .5;
                        margin-top: 2px;
                    }

                    > .label {
                        margin: 0 20px 0 0;
                        float: right;
                        padding: 3px 5px 2px;
                    }
                }

                &.active {
                    > a {
                        background: url("assets/admin/images/menu-active.png") no-repeat scroll right center transparent !important;
                        text-decoration:none;
                    }
                }
            }

            li {
                ul {
                    display: none;
                    margin: 0;
                    padding: 0;

                    li {
                        a {
                            padding: 10px 0 10px 25px;
                            display: block;
                            color: #777777;
                        }

                        &:first-child {
                            a {
                                border-top: 0;
                            }
                        }

                        &:last-child {
                            border-bottom: 0;
                        }
                    }
                }

                &.open {
                    ul {
                        display: block;
                    }
                }
            }
        }
    }

    /* Top user navigation */
    #user-nav {
        position: absolute;
        left: 220px;
        top: 0;
        z-index: 20;
        margin: 0;

        &.navbar-inverse {
            background-color: transparent;
            border-color: transparent;
        }

        &.navbar {
            padding: 0;
            border-radius: 0;
            border: none;
            min-height: auto;
        }

        > ul {
            margin: 0;
            padding: 0;
            list-style: none; border-right: 1px solid #2e363f;border-left: 1px solid #000;

            > li {
                float: left;
                list-style-type: none;
                margin: 0;
                position: relative;
                padding: 0; border-left: 1px solid #2e363f; border-right: 1px solid #000;

                > a {
                    padding:12px 10px;
                    display: block;
                    font-size: 11px;
                    color: #999;
                    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);

                    > i {
                        opacity: .5;
                        margin-top: 2px;
                    }

                    .label {
                        vertical-align: middle;
                        padding: 1px 4px 1px;
                        margin: -2px 4px 0;
                        display: inline-block;
                    }

                    &:hover {
                        color: #ffffff;
                        background:#000;
                        text-decoration: none;

                        > i {
                            opacity: 1;
                        }
                    }
                }

                &.open {
                    > a {
                        color: #ffffff;  background:#000;
                        > i {
                            opacity: 1;
                        }
                    }
                }
            }

            ul {
                > li {
                    > a {
                        text-align: left;
                    }
                }
            }
        }
    }

    /* Content */
    #content {
        background: none repeat scroll 0 0 #eeeeee;
        margin-left: 220px;
        margin-right: 0;
        padding-bottom: 25px;
        position: relative;
        min-height:100%;
        width: auto;
    }
    #content-header {
        position: abslute;
        width: 100%;
        margin-top: -38px;
        z-index: 20;

        h1, .btn-group {
            margin-top: 20px;
        }

        h1 {
            color: #555555;
            font-size: 28px;
            font-weight: normal;
            float: none;
            text-shadow: 0 1px 0 #ffffff;
            margin-left: 20px;
            position: relative;
        }

        .btn-group {
            float: right;
            right: 20px;
            position: absolute;

            .btn {
                padding: 11px 14px 9px;

                .label {
                    position: absolute;
                    top: -7px;
                }
            }
        }
    }

    .container-fluid .row-fluid:first-child {
        margin-top: 20px;
    }

    /*todo-list*/
    .todo {
        ul {
            list-style: none outside none;
            margin: 0;
        }
        li {
            border-bottom: 1px solid #EBEBEB;
            margin-bottom: 0;
            padding: 10px 0;

            &:hover {
                background: none repeat scroll 0 0 #FCFCFC;
                border-color: #D9D9D9;
            }

            &:last-child {
                border-bottom:0px;
            }

            .txt {
                float: left;
            }

            .by {
                margin-left: 10px;
                margin-right: 10px;
            }

            .date {
                margin-right: 10px;
            }
        }
    }

    /* Breadcrumb */
    #breadcrumb {
        background-color: #fff;
        border-bottom: 1px solid #e3ebed;

        a {
            padding: 8px 20px 8px 10px;
            display: inline-block;
            background-image: url('assets/admin/images/breadcrumb.png');
            background-position: center right;
            background-repeat: no-repeat;
            font-size: 11px;
            color: #666666;

            &:hover {
                color: #333;

                i {
                    margin-right: 5px;
                    opacity: .8;
                }
            }

            &:last-child {
                background-image:none;
            }

            &.current {
                font-weight: bold;
                color: #444444;
            }

            i {
                margin-right: 5px;
                opacity: .6;
            }
        }
    }

    /* Stat boxes and quick actions */
    .quick-actions_homepage {
        width:100%;
        text-align:center; position:relative;
        float:left;
        margin-top:10px;

        .quick-actions {
            li {
                 position:relative;

                 .label {
                     position:absolute;
                     padding:5px;
                     top:-10px;
                     right:-5px;
                }

                .span3 {
                    width:30%;
                }
            }
        }
    }

    .stat-boxes, .quick-actions, .quick-actions-horizontal, .stats-plain {
        display: block;
        list-style: none outside none;
        margin: 15px 0;
        text-align: center;
    }
    .stat-boxes2 {
        display: inline-block;
        list-style: none outside none;
        margin:0px;
        text-align: center;

        li {
            display: inline-block;
            line-height: 18px;
            margin: 0 10px 10px;
            padding: 0 10px; background:#fff;
            border: 1px solid #DCDCDC;

            &:hover{ background: #f6f6f6; }
        }

        .left, .right {
            text-shadow: 0 1px 0 #fff;
            float: left;
        }

        .left {
            border-right: 1px solid #DCDCDC;
            box-shadow: 1px 0 0 0 #FFFFFF;
            font-size: 10px;
            font-weight: bold;
            margin-right: 10px;
            padding: 10px 14px 6px 4px;

            span {
                display: block;
            }
        }

        .right {
            color: #666666;
            font-size: 12px;
            padding: 9px 10px 7px 0;
            text-align: center;
            min-width: 70px; float:left;

            strong {
                display: block;
                font-size: 26px;
                margin-bottom: 3px;
                margin-top: 6px;
            }
        }
    }

    .stats-plain {
        width: 100%;
    }
    .stat-boxes, .quick-actions, .quick-actions-horizontal {
        li {
            float: left;
            line-height: 18px;
            margin: 0 10px 10px 0px;
            padding: 0 10px;

            &:hover, a:hover {
                background: #2E363F;
            }
        }
    }

    .site-stats {
        margin: 0;
        padding: 0; text-align:center;
        list-style: none;

        li {
            cursor: pointer; display:inline-block;
            margin: 0 5px 10px; text-align:center; width:42%;
            padding:10px 0; color:#fff;
            position: relative;

            &:hover {
                background:#2E363F;
            }

            i {
                font-size:24px;
                clear:both;
                vertical-align: baseline;
            }

            strong {
                font-weight: bold;
                font-size: 20px; width:100%; float:left;
                margin-left:0px;
            }

            small {
                margin-left:0px;
                font-size: 11px;
                width:100%; float:left;
            }
        }
    }

    /* Charts & graphs **/
    .chart, .pie, .bars, #donut, #interactive, #placeholder, #placeholder2 {
        height: 300px;
        max-width: 100%;
    }

    #choices {
        border-top:1px solid #dcdcdc;
        margin:10px 0;
        padding:10px;
        br {
            display:none;
        }

        input {
            margin:-5px 5px 0 0;
        }

        label {
            display:inline-block;
            padding-right:20px;
        }
    }

    #tooltip {
        position: absolute;
        display:none;
        border: none;
        padding: 3px 8px;
        border-radius: 3px;
        font-size: 10px;
        background-color: #222222;
        color: #ffffff;
        z-index: 25;
    }

    .quick-actions li {
        min-width:14%;
        min-height:70px;

        a {
            padding:10px 30px;

            i[class^="icon-"], i[class*=" icon-"] {
                font-size:30px;
                display: block;
                margin: 0 auto 5px;
            }
        }
    }

    .quick-actions, .quick-actions-horizontal {
        li {
            padding: 0;

            a {
                display: block;
                color: #fff; font-size:14px;
                font-weight:lighter;
            }

            &:active {
                background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#EEEEEE), to(#F4F4F4));
                background-image: -webkit-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
                background-image: -moz-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
                background-image: -ms-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
                background-image: -o-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
                background-image: linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
                box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.4);
            }
        }
    }

    .stats-plain {
         li {
            padding: 0 30px;
            display: inline-block;
            margin: 0 10px 20px;

            h4 {
                font-size: 40px;
                margin-bottom: 15px;
            }

            span {
                font-size: 14px;
                color: #fff;
            }
        }
    }

    .quick-actions-horizontal {
        li {
            a {
                span {
                    padding: 10px 12px 10px 10px;
                    display: inline-block;
                }

                i[class^="icon-"], i[class*=" icon-"] {
                    background-repeat: no-repeat;
                    background-attachment: scroll;
                    background-position: center;
                    background-color: transparent;
                    width: 16px;
                    height: 16px;
                    display: inline-block;
                    margin: -2px 0 0 !important;
                    border-right: 1px solid #dddddd;
                    margin-right: 10px;
                    padding: 10px;
                    vertical-align: middle;
                }
            }
        }
    }

    /* Widgets */
    .widget-box {
        background: none repeat scroll 0 0 #F9F9F9;
        border-left: 1px solid #CDCDCD;
        border-top: 1px solid #CDCDCD;
        border-right: 1px solid #CDCDCD;
        clear: both;
        margin-top: 16px;
        margin-bottom: 16px;
        position: relative;

        &.widget-calendar, &.widget-chat {
            overflow:hidden !important;
        }

        &.widget-plain {
            background: transparent;
            border: none;
            margin-top: 0;
            margin-bottom: 0;

            .widget-content {
                padding: 12px 0 0;
            }
        }

        &.collapsible {
            .collapse {
                &.in {
                    .widget-content {
                        border-bottom: 1px solid #CDCDCD;
                    }
                }
            }
        }
    }

    .accordion {
        .widget-box {
            margin-top: -2px;
            margin-bottom: 0;
            border-radius: 0;
        }
    }

    .widget-title, .modal-header, .table th, div.dataTables_wrapper .ui-widget-header {
        background:#efefef;
        border-bottom: 1px solid #CDCDCD;
        height: 38px;
    }
    .widget-title {
        .nav-tabs {
            border-bottom: 0 none;

            li {
                a {
                    border-bottom: medium none !important;
                    border-left: 1px solid #DDDDDD;
                        border-radius: 0 0 0 0;
                    border-right: 1px solid #DDDDDD;
                    border-top: medium none;
                    color: #999999;
                    margin: 0;
                    outline: medium none;
                    padding: 10px 10px 10px;
                    font-weight: bold;
                    text-shadow: 0 1px 0 #FFFFFF;
                }

                &:first-child {
                    a {
                        border-left: medium none !important;

                        &:hover {
                            background-color: transparent !important;
                            border-color: #D6D6D6;
                            border-width: 0 1px;
                            color: #2b2b2b;
                        }
                    }
                }

                &.active {
                    a {
                        background-color: #F9F9F9 !important;
                        color: #444444;
                    }
                }
            }
        }

        span.icon {
            padding: 9px 10px 7px 11px;
            float: left; border-right:1px solid #dadada;
        }

        h5 {
            color: #666;
            float: left;
            font-size: 12px;
            font-weight: bold;
            padding: 12px;
            line-height: 12px;
            margin: 0;
        }

        .buttons {
            float: right;
            margin: 8px 10px 0 0;
        }

        .label {
            padding: 3px 5px 2px;
            float: right;
            margin: 9px 11px 0 0;
            box-shadow: 0 1px 2px rgba(0,0,0,0.3) inset, 0 1px 0 #ffffff;
        }
    }

    .widget-calendar {
        .widget-title {
            .label {
                margin-right: 190px;
            }
        }
    }

    .widget-content {
        padding:15px;
        border-bottom: 1px solid #cdcdcd;
    }

    .recent-posts, .recent-comments, .recent-users {
        margin: 0;
        padding: 0;

        li {
            border-bottom: 1px dotted #AEBDC8;
            list-style: none outside none;
            padding: 10px;

            &.viewall {
                padding: 0;

                a {
                    padding: 5px;
                    text-align: center;
                    display: block;
                    color: #888888;

                    &:hover {
                        background-color: #eeeeee;
                    }
                }
            }

            &:last-child {
                border-bottom: none !important;
            }
        }
    }

    .article-post {
        li {
            border-bottom: 1px dotted #AEBDC8;
            list-style: none outside none;
            padding: 10px;
        }
    }

    .user-thumb {
        background: none repeat scroll 0 0 #FFFFFF;
        float: left;
        height: 40px;
        margin-right: 10px;
        margin-top: 5px;
        padding: 2px;
        width: 40px;
    }
    .user-info {
        color: #666666;
        font-size: 11px;
    }

    .invoice-content {
        padding: 20px;
    }
    .invoice-action {
        margin-bottom: 30px;
    }
    .invoice-head {
        clear: both;
        margin-bottom: 40px;
        overflow: hidden;
        width: auto;
    }
    .invoice-meta {
        font-size: 18px;
        margin-bottom: 40px;
    }

    .invoice-date {
        float: right;
        font-size: 80%;
    }

    .invoice-content {
        h5 {
            color: #333333;
            font-size: 16px;
            font-weight: normal;
            margin-bottom: 10px;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        th {
            &.total-label {
                text-align: right;
            }

            &.total-amount {
                text-align: left;
            }
        }
    }

    .invoice-to {
        float: left;
        width: 370px;
    }
    .invoice-from {
        float: right;
        width: 300px;
    }

    .invoice-to, .invoice-from {
        li {
            clear: left;

            span {
                display: block;
            }
        }
    }

    .amount-word {
        color: #666666;
        margin-bottom: 40px;
        margin-top: 40px;
        span {
            color: #5476A6;
            font-weight: bold;
            padding-left: 20px;
        }
    }

    .panel-left {
        margin-top:103px;
    }
    .panel-left2 {
        margin-left:176px;
    }
    .panel-right {
        width: 100%;
        background-color: #fff;
        border-bottom: 1px solid #dddddd;
        position: absolute;
        right: 0;
        overflow:auto;
        top:38px;
        height:76px;
    }
    .panel-right2 {
        width: 100%;
        background-color: #fff;
        border-right: 1px solid #dddddd;
        position: absolute;
        left: 0;
        overflow:auto;
        top:0px;
        height:94%;
        width:175px;
    }

    .panel-right, .panel-right2 {
        .panel-title {
            width: 100%;
            background-color: #ececec;
            border-bottom: 1px solid #dddddd;

            h5 {
                font-size: 12px;
                color: #777777;
                text-shadow: 0 1px 0 #ffffff;
                padding: 6px 10px 5px;
                margin: 0;
            }
        }

        .panel-content {
            padding: 10px;
        }
    }

    .chat-content {
        height: 470px;
        padding: 15px;
    }
    .chat-messages {
        height: 420px;
        overflow: auto;
        position: relative;
    }
    .chat-message {
        padding: 7px 15px;
        margin: 7px 0 0;

        input[type=text] {
            margin-bottom: 0 !important;
            width: 100%;
        }

        .input-box {
            display: block;
            margin-right: 90px;
        }

        button {
            float: right;
        }
    }

    #chat-messages-inner {
        p {
            padding:0px;
            margin: 10px 0 0 0;

            img {
                display: inline-block;
                float: left;
                vertical-align: middle;
                width: 28px;
                height: 28px;
                margin-top:-1px;
                margin-right:10px;
            }

            .offline {
                span {
                    background: none repeat scroll 0 0 #FFF5F5;
                    border: 1px solid #cccccc;
                    box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.05);
                    display: block;
                    margin-left:0px;
                    padding: 10px;
                    position: relative;
                }
            }
        }

        .msg-block {
            background: none repeat scroll 0 0 #FFFFFF;
            border: 1px solid #cccccc;
            box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.05);
            display: block;
            margin-left:0px;
            padding: 10px;
            position: relative;

            &:before {
                border-right: 7px solid rgba(0,0,0,0.1);
                border-top: 7px solid transparent;
                border-bottom: 7px solid transparent;
                content: "";
                display:none;
                left: -7px;
                position: absolute;
                top: 11px;
            }

            &:after {
                border-right: 6px solid #ffffff;
                border-top: 6px solid transparent;
                border-bottom: 6px solid transparent;
                content: "";
                display: none;
                left: -6px;
                position: absolute;
                top: 12px;
            }
        }

        .time {
            color: #999999;
            font-size: 11px;
            float:right;
        }

        .msg {
            display: block;
            margin-top: 13px;
            border-top:1px solid #dadada;
        }
    }

    .chat-users {
        padding: 0 0 30px;
        .contact-list {
            line-height: 21px;
            list-style: none outside none;
            margin: 0;
            padding: 0;
            font-size: 10px;

            li {
                border: 1px solid #DADADA;
                margin:5px 5px;
                padding: 1px;
                position: relative;

                &:hover {
                    background-color: #efefef;
                }

                a {
                    color: #666666;
                    display: block;
                    padding: 8px 5px;

                    img {
                        display: inline-block;
                        margin-right: 10px;
                        vertical-align: middle;
                        width: 28px;
                        height: 28px;
                    }
                }

                &.online {
                    background-color: #EDE0E0;
                    a {
                        font-weight: bold;
                    }
                }

                &.new {
                    background-color: #eaeaea;
                }

                .msg-count {
                    padding: 3px 5px;
                    position: absolute;
                    right: 10px;
                    top: 12px;
                }
            }
        }
    }

    .taskDesc {
        i {
            margin: 1px 5px 0;
        }
    }

    .taskStatus, .taskOptions {
        text-align: center !important;
    }
    .taskStatus {
        .in-progress {
            color: #64909E;
        }

        .pending {
            color: #AC6363;
        }

        .done {
            color: #75B468;
        }
    }

    .activity-list {
        list-style: none outside none;
        margin: 0;

        li {
            border-bottom: 1px solid #EEEEEE;
            display: block;

            &:last-child {
                border-bottom: medium none;
            }

            a {
                display: block;
                padding: 7px 10px;

                &:hover {
                    background-color: #FBFBFB;
                }

                span {
                    color: #AAAAAA;
                    font-size: 11px;
                    font-style: italic;
                }

                i {
                    margin-right: 10px;
                    opacity: 0.6;
                    vertical-align: middle;
                }
            }
        }
    }

    .new-update {
        border-top: 1px solid #DDDDDD;
        padding: 10px 12px;

        &:first-child {
            border-top: medium none;
        }

        span {
            display:block;
        }

        i {
            float: left;
            margin-top: 3px;
            margin-right: 13px;
        }

        .update-date {
            color: #BBBBBB;
            float: right;
            margin: 4px -2px 0 0;
            text-align: center;
            width: 30px;

            .update-day {
                display: block;
                font-size: 20px;
                font-weight: bold;
                margin-bottom: -4px;
            }
        }
    }

    .update-done, .update-alert, .update-notice {
        display: block;
        float: left;
        max-width: 76%;
    }

    /* Tables */
    tr:hover {
        background:#f6f6f6;
    }

    span {
        &.icon {
            .checker {
                margin-top: -5px;
                margin-right: 0;
            }
        }
    }

    .dataTables_length {
        color: #878787;
        margin: 7px 5px 0;
        position: relative;
        left:5px; width:50%;
        top: -2px;

        div {
            vertical-align: middle;
        }
    }

    .dataTables_paginate {
        line-height: 16px;
        text-align: right;
        margin-top: 5px;
        margin-right: 10px;

        .ui-button {
            font-size: 12px;
            padding: 4px 10px !important;
            border-style: solid;
            border-width: 1px;
            border-color: #dddddd #dddddd #cccccc; /* for IE < 9 */
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
            display: inline-block;
            line-height: 16px;
            background: #f5f5f5;
            color: #333333;
            text-shadow: 0 1px 0 #ffffff;

            &:hover {
                background: #e8e8e8;
                color: #222222;
                text-shadow: 0 1px 0 #ffffff;
                cursor: pointer;
            }
        }

        .first {
            border-radius: 4px 0 0 4px;
        }

        .last {
            border-radius: 0 4px 4px 0;
        }

        .ui-state-disabled {
            color: #AAAAAA !important;

            &:hover {
                background: #f5f5f5;
                cursor: default !important;
            }
        }

        span {
            .ui-state-disabled {
                background: #41BEDD !important;
                color: #ffffff !important;
                cursor: default !important;
            }
        }
    }

    .pagination {
        &.alternate {
            li {
                a {
                    font-size: 12px;
                    padding: 4px 10px !important;
                    border-style: solid;
                    border-width: 1px;
                    border-color: #dddddd #dddddd #cccccc; /* for IE < 9 */
                    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
                    display: inline-block;
                    line-height: 16px;
                    background: #f5f5f5;
                    color: #333333;
                    text-shadow: 0 1px 0 #ffffff;

                    &:hover {
                        background: #e8e8e8;
                        color: #222222;
                        text-shadow: 0 1px 0 #ffffff;
                        cursor: pointer;
                    }
                }

                .disabled {
                    a {
                        color: #AAAAAA !important;

                        &:hover {
                            background: #f5f5f5;
                            cursor: default !important;
                        }
                    }
                }

                .active {
                    a {
                        background: #41BEDD !important;
                        color: #ffffff !important;
                        cursor: default !important;
                    }
                }
            }
        }
    }


    .fc-state-disabled {
        color: #AAAAAA !important;

        &:hover {
            background: #f5f5f5;
            cursor: default !important;
        }
    }

    div.dataTables_wrapper {
        .ui-widget-header {
            border-right: medium none;
            border-top: 1px solid #D5D5D5;
            font-weight: normal;
            margin-top: -1px;
        }
    }
    .dataTables_wrapper {
        .ui-toolbar {
            padding: 5px;
        }
    }

    .dataTables_filter {
        color: #878787;
        font-size: 11px;
        right: 0; top:37px;
        margin: 4px 8px 2px 10px;
        position: absolute;
        text-align: left;

        input {
            margin-bottom: 0;
        }
    }

    .table {
        th {
            height: auto;
            font-size: 12px;
            padding: 5px 10px 2px;
            border-bottom: 0;
            text-align: center;
            color: #666666;
        }

        &.with-check {
            tr {
                th, td {
                    &:first-child {
                        width: 10px;
                    }
                }

                th {
                    &:first-child {
                        i {
                            margin-top: -2px;
                            opacity: 0.6;
                        }
                    }
                }

                td {
                    &:first-child {
                        .checker {
                            margin-right: 0;
                        }
                    }
                }

                &.checked {
                    td {
                        background-color: #FFFFE3 !important;
                    }
                }
            }
        }
    }

    /* Misc */
    .nopadding {
        padding: 0 !important;

        .table {
            margin-bottom: 0;
        }

        .table-bordered {
            border: 0;
        }
    }

    .thumbnails {
        margin-left: -2.12766% !important;

        [class*="span"] {
            margin-left: 2.12766% !important;
            position: relative;
        }

        .actions {
            width: auto;
            height: 16px;
            background-color:#000;
            padding: 4px 8px 8px 8px;
            position: absolute;
            bottom:0%;
            left:50%;
            margin-top: -13px;
            margin-left: -24px;
            opacity: 0; top:10%; transition:1s ease-out;
            -moz-transition: opacity 0.3s ease-in-out;
        }

        li {
            &:hover {
                .actions {
                    opacity: 1; color:#fff; top:50%; transition:1s ease-out;

                    a {
                        &:hover {
                            opacity: 1; color:#fff; top:50%; transition:1s ease-out;
                        }
                    }
                }
            }
        }
    }

    .line {
        background: url("assets/admin/images/line.png") repeat-x scroll 0 0 transparent;
        display: block;
        height: 8px;
    }

    .modal-header {
        height: auto;
        padding: 8px 15px 5px;
        h3 {
            font-size: 12px;
            text-shadow: 0 1px 0 #ffffff;
        }
    }

    .notify-ui {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            background: #eeeeee;
            margin-bottom: 5px;
            padding: 5px 10px;
            text-align: center;
            border: 1px solid #dddddd;

            &:hover {
                cursor: pointer;
                color: #777777;
            }
        }
    }

    /* Forms */
    form {
        padding: 20px 15px;
        margin-bottom: 0;
    }

    .modal-content {
        form {
            padding: 0;
            margin-bottom: 0;

            .modal-body {
                padding: 20px 30px;
            }
        }
    }

    .form-horizontal {
        .form-group {
            border-top: 1px solid #ffffff;
            border-bottom: 1px solid #eeeeee;
            margin-bottom: 0;
            padding: 10px 0;

            &:last-child {
                border-bottom: 0;
            }
        }

        .form-control {
            font-size: 13px;
        }

        .form-actions {
            margin-top: 0;
            margin-bottom: 0;
            padding: 20px 20px 20px 0;
        }
    }

    .form-adm-user {
        input[type=text], input[type=password], input[type=email] {
            width: 250px;
        }
    }

    .row-fluid .span20 {
        width:97.8%
    }

    .help-block, .help-inline {
        color: #999999;
    }

    /***********light-box***************/
    #lightbox {
        position:fixed; /* keeps the lightbox window in the current viewport */
        top:0;
        left:0;
        width:100%;
        height:100%;
        /* background:url(overlay.png) repeat #000; */
        text-align:center;
        z-index:9999;

        p {
            position:absolute;
            top:10px;
            right:10px;
            width:22px;
            height:22px;
            cursor:pointer;
            z-index:22;
            border:1px solid #fff;
            border-radius:100%;
            padding:2px;
            text-align:center;
            transition:0.5s;

            &:hover {
                transform:rotate(180deg);
            }
        }
    }

    #imgbox {
        position:absolute; /* keeps the lightbox window in the current viewport */
        left:0;
        top:0px;
        width:100%;
        height:100%;
        /* background:url(overlay.png) repeat #000; */
        text-align:center;
        z-index:21;

        img {
            margin-top:100px;
            border:10px solid #fff;
        }
    }

    /***********Error Page******************/
    .error_ex {
        text-align:center;

        h1 {
            font-size:140px;
            font-weight:bold;
            padding:50px 0;
            color:#28B779;
        }
    }

    #sidebar {
        .content {
            padding:10px;
            position: relative; color:#939DA8;
        }

        .percent {
            font-weight: 700;
            position: absolute;
            right: 10px;
            top:25px;
        }

        .progress {
            margin-bottom: 2px;
            margin-top: 2px;
            width: 70%;
        }

        .progress-mini {
            height: 6px;
        }

        .stat {
            font-size: 11px;
        }
    }
    /***********light-box-end***************/
    .btn-icon-pg {
        ul {
            margin:0px;
            padding:0px;

            li {
                margin:5px;
                padding:5px;
                list-style:none;
                display:inline-block;
                border:1px solid #dadada;
                min-width:187px;
                cursor:pointer;

                &:hover {
                    i {
                        transition:0.3s;
                        -moz-transition:0.3s;
                        -webkit-transition:0.3s;
                        -o-transition:0.3s;
                        margin-left:8px;
                    }
                }
            }
        }
    }

    .accordion {
        margin-top:16px;
    }
    .fix_hgt {
        height:115px;
        overflow-x:auto;
    }
    .input-append {
        .add-on, .btn {
            &:last-child {
                border-radius:0px;
                padding:6px 5px 2px;
            }
        }

        input, select {
            border-radius:0px!important;
        }
    }

    .input-prepend, .input-append {
        input, input[class*="span"] {
            width:none;
        }
    }

    .input-prepend {
        input, span {
            border-radius:0px!important;
        }
    }

    /* body login */
    &.body-login {
        #content {
            margin: 0;
            padding: 0;
            margin-top: 10%;
        }
    }

    .adm-tasks {
        text-align: center;

        .dropdown {
            .caret {
                font-size: 16px;
            }
            .dropdown-menu {
                &:before {
                    opacity: 0;
                }
                min-width: 100px;
            }
        }
    }
}

.login-container {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    background-color:#2E363F;
    font-size: 12px;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none !important;
    background-position: 0% 0%;
    background-repeat: repeat;
}

.label-important, .badge-important {
    background:#f74d4d;
}

/* Responsive design */
@media (max-width: 480px) {
    .body-adm {
        #header {
            h1 {
                top: 10px; left:5px;
                margin: 3px auto;
            }
        }

        #user-nav {
            position: relative;
            left: auto;
            right: auto;
            width: 100%;
            margin-top: -31px;
            border-top:1px solid #363E48;
            margin-bottom: 0px;
            background:#2E363F;
            float:right;

            > ul {
                right: 0px;
                margin-left:20%!important;
                margin-top:0px;
                width:100%;
                background:#000;
                position: relative;

                > li {
                    padding:0px 0px;
                    > a {
                        padding:5px 10px;
                    }
                }
            }
        }
        .navbar {
            > .nav {
                float: none;
            }
        }

        #my_menu {
            display:none;
        }

        #my_menu_input {
            display:block;
        }

        #sidebar {
            float: none;
            width: 100% !important;
            display:block;
            position:relative;
            top:0px;

            .content {
                display:none;
            }

             > ul {
                margin:0px;
                padding:0px;
                width:100%;
                display:block;
                z-index:999;
                position:relative;

                > li {
                    list-style-type:none;
                    display:block;
                    border-top:1px solid #41BEDD;
                    float:none !important;
                    margin:0px;
                    position:relative;
                    padding:2px 10px;
                    cursor:pointer;

                    &:hover {
                        background-color:#27a9e3;
                        ul {
                            display:none;
                        }

                        a {
                            background:none;
                        }
                    }

                    > a {
                        padding:5px;
                        display:block;
                        color: #AAAAAA;
                    }
                }
            }

            li {
                ul {
                    margin:0px;
                    padding:0px;
                    top:35px; left:0px;
                    z-index:999;
                    display:none;
                    position:absolute;
                    width:100%;
                    min-width:100%;
                    border-radius:none;

                    li {
                        list-style-type:none;
                        margin:0px;
                        font-size:12px;
                        line-height:30px;

                        a {
                            display:block;
                            padding:5px 10px;
                            color:#fff;
                            text-decoration:none;
                            font-weight:bold;
                        }

                        &:hover {
                            a {
                                border-radius:0px;
                            }
                        }
                    }
                }

                span {
                    cursor:pointer;
                    margin:0px 2px 0 5px;
                    font-weight:bold;
                    color:#fff;
                    font-size:12px;
                }

                a {
                    i {
                        background-image: url("assets/admin/images/glyphicons-halflings-white.png");
                        margin-top:4px;
                        vertical-align: top;
                    }
                }
            }

            > a {
                padding: 9px 20px 9px 15px;
                display: block !important;
                color: #eeeeee;
                float:none !important;
                font-size:12px;
                font-weight:bold
            }
        }

        #content {
            margin-left: 0 !important;
            border-top-left-radius: 0;
            margin-top:0px;
        }

        #content-header {
            margin-top: 0;
            text-align: center;
            h1, .btn-group {
                float: none;
            }

            h1 {
                display: block;
                text-align: center;
                margin-left: auto;
                margin-top: 0;
                padding-top: 15px;
                width: 100%;
            }

            .btn-group {
                margin-top: 70px;
                margin-bottom: 0;
                margin-right: 0;
                left: 30%;
            }
        }

        .widget-title {
            .buttons {
                > .btn {
                    width: 11px;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }

        .form-horizontal {
            .control-label {
                padding-left: 30px;
            }

            .controls {
                margin-left: 0;
                padding: 10px 30px;
            }
        }

        .form-actions {
            text-align: center;
        }

        .panel-right2 {
            width: 100%;
            background-color: #fff;
            border-right: 1px solid #dddddd;
            position: relative;
            left: 0;
            overflow:auto;
            top:0px;
            height:87%;
            width:100%;
        }
        .panel-left2 {
            margin-left:0px;
        }
        .dataTables_paginate {
            .ui-button {
                padding:4px 4px!important;
            }
        }
        .pagination {
            &.alternate {
                li {
                    a {
                        padding:4px 4px!important;
                    }
                }
            }
        }

        .table {
            th {
                padding: 5px 4px 2px;
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 970px) {
    .body-adm {
        background:#49CCED;

        #header {
            h1 {
                top:10px; left:35px;
            }
        }
        #search {
            top:5px
        }
        #my_menu {
            display:none;
        }
        #my_menu_input {
            display:block;
        }
        #content {
            margin-top:0px;
        }

        #sidebar {
            width: 43px;
            display: block;
            position: absolute;
            height:100%;
            z-index:1;

            > ul {
                width: 43px;
                display: block;
                position: absolute;
                height:100%;
                z-index:1;
                > li {
                    float:none;

                    &:hover {
                        ul {
                            display: block;
                        }
                    }
                }

                ul {
                    display: none;
                    position: absolute;
                    left:43px;
                    top: 0;
                    min-width: 150px;
                    list-style: none;

                    li {
                        a {
                            white-space: nowrap;
                            padding: 10px 25px;
                        }
                    }

                    &:before {
                        border-top: 7px solid transparent;
                        border-bottom: 7px solid transparent;
                        content: "";
                        display: inline-block;
                        left: -6px;
                        position: absolute;
                        top: 11px;
                    }

                    &:after {
                        content: "";
                        display: inline-block;
                        left: -5px;
                        position: absolute;
                        top: 12px;
                    }
                }

                    > li {
                        &.open {
                            &.submenu {
                                > a {
                                    border-bottom: none !important;
                                }
                            }
                        }

                        > a {
                            > span {
                                display: none;
                            }
                        }
                    }
            }

                > a {
                display: none !important;
            }

            .content {
                display:none;
            }
        }

        #content {
            margin-left: 43px;
        }
    }
}

@media (max-width: 600px) {
    .body-adm {
        .widget-title {
            .buttons {
                float: left;
            }
        }
        .panel-left {
            margin-right: 0;
        }
        .panel-right {
            border-top: 1px solid #DDDDDD;
            border-left: none;
            position: relative;
            top: auto;
            right: auto;
            height: auto;
            width: auto;
        }
        #sidebar {
            .content {
                display:none;
            }
        }
    }
}

@media (max-width: 767px) {
    body.body-adm {
        padding: 0 !important;
        .container-fluid {
            padding-left: 20px;
            padding-right: 20px;
        }

        #search {
            display: none;
        }

        #user-nav {
            > ul {
                > li {
                    > a {
                        > span {
                            &.text {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        #sidebar {
            .content {
                display:none;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    [class*="span"], .row-fluid [class*="span"] {
        display: block;
        float: none;
        margin-left: 0;
        width: auto;
    }
}

@media screen and (max-width: 979px) {
    .body-adm {
        div.dataTables_wrapper .ui-widget-header {
            height: 68px;
        }
        .dataTables_filter{ position:relative; top:0px;}
        .dataTables_length{ width:100%; text-align:center;}
        .dataTables_filter, .dataTables_paginate {
            text-align: center;
        }
        #sidebar {
            .content {
                display:none;
            }
        }
    }
}

.fade {
    opacity: 0;
  -webkit-transition: opacity .15s linear;
       -o-transition: opacity .15s linear;
          transition: opacity .15s linear;

    &.show {
    opacity: 1;
    }
}

.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;

  &.fade {
      .modal-dialog {
        -webkit-transition: -webkit-transform .3s ease-out;
            -o-transition:      -o-transform .3s ease-out;
                transition:         transform .3s ease-out;
        -webkit-transform: translate(0, -25%);
            -ms-transform: translate(0, -25%);
            -o-transform: translate(0, -25%);
                transform: translate(0, -25%);
        }
  }

  &.show {
      .modal-dialog {
        -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            -o-transform: translate(0, 0);
                transform: translate(0, 0);
        }
  }
}

.modal-open {
    .modal {
    overflow-x: hidden;
    overflow-y: auto;
    }
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 2px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;

    &.fade {
        filter: alpha(opacity=0);
        opacity: 0;
    }

    &.show {
        filter: alpha(opacity=50);
        opacity: .5;
    }
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  .close {
    margin-top: -2px;
    }
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media screen and (min-width: 992px) {
    .dm-selector {
        width: 50%;
    }
}
