<form class="form" [formGroup]="countryForm" (ngSubmit)="createCountry()" novalidate>
    <div class="modal-header">
        <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="cancel()"><span aria-hidden="true">x</span>
        </button>
        <h4 class="modal-title">Tạo mới thông tin Quốc gia</h4>
    </div>
    <div class="modal-body">
        <div class="form-group" [ngClass]="(countryForm.controls.countryNameVN?.errors && countryForm.controls.countryNameVN?.touched) ? 'has-error' : ''">
          <label class="control-label" for="countryNameVN">Tên Quốc gia (Tiếng việt):</label>
          <input type="text" class="form-control" required placeholder="Tên Quốc gia (Tiếng việt)" formControlName="countryNameVN" />
          <span class="help-block text-error" *ngIf="countryForm.controls.countryNameVN?.errors?.required && countryForm.controls.countryNameVN?.touched">Tên Quốc gia (Tiếng việt) không để trống</span>
        </div>
        <div class="form-group" [ngClass]="(countryForm.controls.countryNameEN?.errors && countryForm.controls.countryNameEN?.touched) ? 'has-error' : ''">
          <label for="countryNameEN">Tên Quốc gia (English):</label>
          <input type="text" class="form-control" required placeholder="Tên Quốc gia (English)" formControlName="countryNameEN" />
          <span class="help-block text-error" *ngIf="countryForm.controls.countryNameEN?.errors?.required && countryForm.controls.countryNameEN?.touched">Tên Quốc gia (English) không để trống</span>
        </div>
        <div class="form-group" [ngClass]="(countryForm.controls.destinationId?.errors && countryForm.controls.destinationId?.touched) ? 'has-error' : ''">
            <label class="control-label" for="countryNameEN">Thuộc châu lục:</label>
            <select class="form-control" required formControlName="destinationId">
              <option selected>--- Chọn châu lục ---</option>
              <option value="1">Đông Nam Á</option>
              <option value="2">Châu Á</option>
              <option value="3">Châu Âu</option>
            </select>
            <span class="help-block text-error" *ngIf="countryForm.controls.destinationId?.errors?.required && countryForm.controls.destinationId?.touched">Bạn phải chọn Châu lục</span>
        </div>
        <div class="form-group">
            <label for="longitude">Kinh độ:</label>
            <input type="text" class="form-control" id="longitude" placeholder="Kinh độ" formControlName="longitude" />
        </div>
        <div class="form-group">
            <label for="latitude">Vĩ độ:</label>
            <input type="text" class="form-control" id="latitude" placeholder="Vĩ độ" formControlName="latitude" />
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me" formControlName="status"> Hiển thị
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            <i class="icon-remove"></i> Hủy bỏ
        </button>
        <button type="submit" class="btn btn-success" [disabled]="countryForm.invalid">
            <i class="icon-save"></i> Lưu lại
        </button>
    </div>
</form>
