<div id="content-header">
    <div id="breadcrumb">
        <a routerLink="/admin/dashboard" title="Quay lại trang chủ" class="tip-bottom"><i class="icon-home"></i> Trang chủ</a>
        <a routerLink="/admin/country-management" class="current">Thông tin quốc gia</a>
    </div>
    <h1>Danh sách Quốc gia</h1>
</div>
<div class="container-fluid">
    <hr>
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title"> <span class="icon">
                <input type="checkbox" id="title-checkbox" name="title-checkbox" />
                </span>
                <h5>Thông tin</h5>
                <button class="btn-createuser btn btn-primary pull-right" (click)="createNewCountry()" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Tạo mới</button>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered table-striped with-check adm-user-list">
                        <thead>
                            <tr>
                                <th><i class="icon-resize-vertical"></i></th>
                                <th>Tên Quốc gia - VN</th>
                                <th>Tên Quốc gia - EN</th>
                                <th>Thuộc Châu lục</th>
                                <th>Kinh độ</th>
                                <th>Vĩ độ</th>
                                <th>Người tạo</th>
                                <th>Ngày tạo</th>
                                <th>Trạng thái</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="checkbox" />
                                </td>
                                <td>Việt Nam</td>
                                <td>Vietnamese</td>
                                <td>Đông Nam Á</td>
                                <td>0</td>
                                <td>0</td>
                                <td>admin</td>
                                <td class="center">01/01/2017</td>
                                <td><span class="btn-success label-status">Hiển thị</span></td>
                                <td class="adm-tasks">
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Sửa</a></li>
                                            <li><a href="#">Xóa</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>Thái Lan</td>
                                <td>Thailand</td>
                                <td>Đông Nam Á</td>
                                <td>0</td>
                                <td>0</td>
                                <td>admin</td>
                                <td class="center">01/01/2017</td>
                                <td><span class="btn-success label-status">Hiển thị</span></td>
                                <td class="adm-tasks">
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Sửa</a></li>
                                            <li><a href="#">Xóa</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" />
                                </td>
                                <td>Việt Nam</td>
                                <td>Vietnamese</td>
                                <td>Đông Nam Á</td>
                                <td>0</td>
                                <td>0</td>
                                <td>admin</td>
                                <td class="center">01/01/2017</td>
                                <td><span class="btn-success label-status">Hiển thị</span></td>
                                <td class="adm-tasks">
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Sửa</a></li>
                                            <li><a href="#">Xóa</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>Thái Lan</td>
                                <td>Thailand</td>
                                <td>Đông Nam Á</td>
                                <td>0</td>
                                <td>0</td>
                                <td>admin</td>
                                <td class="center">01/01/2017</td>
                                <td><span class="btn-success label-status">Hiển thị</span></td>
                                <td class="adm-tasks">
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Sửa</a></li>
                                            <li><a href="#">Xóa</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" />
                                </td>
                                <td>Việt Nam</td>
                                <td>Vietnamese</td>
                                <td>Đông Nam Á</td>
                                <td>0</td>
                                <td>0</td>
                                <td>admin</td>
                                <td class="center">01/01/2017</td>
                                <td><span class="btn-success label-status">Hiển thị</span></td>
                                <td class="adm-tasks">
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Sửa</a></li>
                                            <li><a href="#">Xóa</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>Thái Lan</td>
                                <td>Thailand</td>
                                <td>Đông Nam Á</td>
                                <td>0</td>
                                <td>0</td>
                                <td>admin</td>
                                <td class="center">01/01/2017</td>
                                <td><span class="btn-success label-status">Hiển thị</span></td>
                                <td class="adm-tasks">
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Sửa</a></li>
                                            <li><a href="#">Xóa</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" />
                                </td>
                                <td>Việt Nam</td>
                                <td>Vietnamese</td>
                                <td>Đông Nam Á</td>
                                <td>0</td>
                                <td>0</td>
                                <td>admin</td>
                                <td class="center">01/01/2017</td>
                                <td><span class="btn-success label-status">Hiển thị</span></td>
                                <td class="adm-tasks">
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Sửa</a></li>
                                            <li><a href="#">Xóa</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>Thái Lan</td>
                                <td>Thailand</td>
                                <td>Đông Nam Á</td>
                                <td>0</td>
                                <td>0</td>
                                <td>admin</td>
                                <td class="center">01/01/2017</td>
                                <td><span class="btn-success label-status">Hiển thị</span></td>
                                <td class="adm-tasks">
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Sửa</a></li>
                                            <li><a href="#">Xóa</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>