html, body {
	font-family: $fontfamily;
	font-size: 14px;
}

input[type=text], input[type=submit], input[type=password], input[type=email], input[type=number],
select.form-control {
	border-radius: 0;
	outline: none !important;
}

input[type=text]:focus, input[type=submit]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus,
select.form-control:focus {
	border: solid 1px $colorRed;
	outline: none;
	box-shadow: none;
}

a {
	&:focus {
		outline: none;
	}
}

button, .btn {
	border-radius: 0;
}

.btn-tvn-search, .btn-reg-route {
	background-color: $colorRed;
	color: $colorWhite;
	border-radius: 2px;

	&:focus, &:hover {
		color: $colorWhite;
		background-color: $colorFocusRed;
		transition: transform .5s ease-in-out;
	}
}

.btn-sign {
	background-color: $colorRed;
	color: $colorWhite;
	border-radius: 2px;

	&:focus, &:hover {
		color: $colorWhite;
		opacity: .8;
	}
}

.tvn-bg-lightgray {
	background-color: $colorLightGray;
}

.tvn-bg-white {
	background-color: $colorWhite;
}

.tvn-section {
	padding: 30px 0;
	min-height: 500px;
}

.carousel-control.right, .carousel-control.left {
	background: none;
}

.tvn-btn-join {
	color: $colorLightBlue;
}

.tvn-tab-content {
	padding: 15px 0;
}

/******** icon **********/
.tvn-location-pin {
	&:before {
		content: '\f041';
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		padding-right: 6px;
	}
}

.tvn-calendar-pin {
	&:before {
		content: '\f073';
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		padding-right: 6px;
	}
}

.tvn-member-group {
	&:before {
		content: '\f0c0';
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		padding-right: 6px;
	}
}

.tvn-scrollbar-style::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(110,110,110,0.2);
	background-color: $colorLightGray;
}

.tvn-scrollbar-style::-webkit-scrollbar
{
	width: 6px;
	background-color: $colorLightGray;
}

.tvn-scrollbar-style::-webkit-scrollbar-thumb
{
	background-color: rgba(110,110,110,0.7);;
}

.tvn-heading {
	hr {
		width: 45px;
		border-width: 2px;
		border-color: $colorRed;
	}
}
.nopadding {
	padding: 0 !important;
}

.no-margin {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.font-medium {
	font-weight: 500;
}

.copy--h5 {
	font-size: 0.85714rem;
	letter-spacing: 0.1em;
}
.copy--body {
	font-size: 1.14286rem;
}
.page-slide {
	display: none;
}
.tvn-none-bb {
	border-bottom: none !important;
}

/*********** RADIO, CHECKBOX ****************/
.tvn-options {
	display: block;
	
	&:first-child {
		margin-left: 0;
	}
	cursor: pointer;
	
	input[type=radio], input[type=checkbox] {
		display: none;
	}
	
	span {
		display: inline-block;
		vertical-align: middle;
		font-weight: 500;
		
		.tvn-lbl-md {
			font-weight: 500;
		}
		&:last-child {
			padding-left: 8px;
		}
	}

	.radio, .checkbox {
		border: solid 1px $colorSightBorder;
		width: 20px;
		height: 20px;
		display: inline-block;
		background: $colorWhite;
	}

	.radio {
		border-radius: 50%;
	}

	.checkbox {
		border-radius: 2px;
	}

	input[type=radio]:checked + span.radio,
	input[type=checkbox]:checked + span.checkbox {
		background: $colorRed url(../images/icon-tick.png) no-repeat center center;
		background-size: 70% auto;
		border-color: $colorRed;
	}

	input[type=radio]:checked + span:last-child {
		font-weight: bold;
	}
}