@media screen and (min-width: $screenMediumSite) {
	.header {
		.tvn-container {
			.tvn-mobile-nav {
				display: none;
			}
		}
	}
	.tvn-logo {
		img {
			height: 40px;
		}
	}
	.tvn-top-sight-block {
		.tvn-sight-box {
			&.top-box {
				a.sight-inner {
					border-top: solid 1px $colorSightBorder;
				}
			}
			&.left-sight {
				a.sight-inner {
					margin-right: 10px;
				}
			}
			&.middle-sight {
				a.sight-inner {
					margin-right: 5px;
					margin-left: 5px;
				}
			}
			&.right-sight {
				a.sight-inner {
					margin-left: 10px;
				}
			}
			.sight-inner {
				display: flex;
				position: relative;
				align-items: center;
				-ms-flex-align: center;
				padding-top: .8rem;
				padding-bottom: .8rem;
				position: relative;

				border-bottom: solid 1px $colorSightBorder;
				&:hover, &:focus {
					text-decoration: none;
				}
				&>img {
					display: block;
					width: 96px;
				}

				.sight-text {
					margin-left: 3rem;
					width: calc(100% - 6rem - 3rem - 2rem);
					.sight-title, .sight-location {
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
					.sight-title {
						font-size: 16px;
						font-weight: 600;
						line-height: 1.7;
						transition: color .4s ease;
						color: $colorImageMarker;
						margin: 0;
						&:hover, &:focus {
							color: $colorRed;
						}
					}
					.sight-location {
						color: hsla(215,5%,56%,.5);
						font-size: .95rem;
						font-weight: 600;
						letter-spacing: .02rem;
						line-height: 1.3;
						text-transform: uppercase;
					}
				}

				.sight-marker {
					backface-visibility: hidden;
					-webkit-backface-visibility: hidden;
					color: $colorImageMarker;
					display: inline-block;
					text-align: center;
					z-index: 1;
					font-size: 1.2rem;
					height: 2.1rem;
					line-height: 2.1rem;
					width: 2.1rem;
					position: absolute;
					left: 6rem;
					top: 50%;
					transform: translateY(-50%);
					&:before, &:after {
						box-sizing: inherit;
					}
					&:before {
						font-size: 1.2rem;
						color: inherit;
						position: relative;
					}
					&:after {
						border-radius: .4rem;
						margin-top: -2.1rem;
						background-color: $colorWhite;
						box-shadow: .2rem .2rem .2rem rgba(0,0,0,.18);
						content: "";
						display: block;
						height: 100%;
						position: relative;
						transform: rotate(45deg);
						width: 100%;
						z-index: -1;
					}
				}
			}
		}
	}

	.tvn-destination-section {
		padding-bottom: 7.5rem;
		padding-top: 7.5rem;	

		.tvn-section {
			padding: 0;
		}
	}

	/****** USER PROFILE ********/
	.user-profile {
		
		.user-profile_stats {
			position: relative;
			top: 0;
			left: 0;
			padding: 15px 0;
			width: 100%;
			text-align: center;

			.user-profile_stat-title {
				float: none;
				line-height: normal;
				margin-right: 0;
				width: auto;
				text-align: center;
				border-top: 2px solid #dbe6ec;
				margin-top: 10px;
				padding-top: 10px;
			}
		}
	}

	/***** SUB NAV ******/
	.sub-nav {
		height: 8.1rem;

		.sub-nav_wrap {
			&:after {
				content: " ";
				display: block;
				clear: both;
				margin: 0;
			}
		}

		.sub-nav_list {
			height: 8 rem;

			.sub-nav_item {
				height: 100%;
				line-height: 8rem;
			}

			.sub-nav_link {
				font-weight: 600;
				height: 100%;
			}
		}
	}

	.tvn-survival-guide {
		position: relative;

		.survival-guide_list {

			> li {
				width: 24.5%;

				&.survival-guide_item {
					&:active, &:focus, &:hover {
						.survival-guide_image {
							transform:translateY(-.5rem);
						}
					}
				}
			}
		}
	}

	.tvn-diary_list {
		> li {
			display: inline-block;

			&.tvn-diary_item {
				width: 48%;

				&.left, &.right {
					float: left;
				}
				&.right {
					margin-left: 15px;
				}
			}
		}
	}

	.tvn-diary {
		.tvn-diary_link {
			h3 {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}

		.tvn-diary_info {
			display: flex;

			.tvn-diary_info_author, .tvn-diary_info_type, .tvn-diary_info_date {
				width: 33%;
			}
		}
	}

	.hidden-route {
		display: none;
	}

	.tvn-pd-noleft {
		padding-left: 0;
	}

	.tvn-pd-noright {
		padding-right: 0;
	}
}

@media screen and (min-width: $screenDefaultSite) {
	.tvn-grid {
		.col-1-2-l {
			width: 50%; 
		}
		.col-1-3-l {
			width: 33.3333333%;
		}
		.col-2-3-l {
			width: 66.6666667%;
		}
		&>[class$="-l"], &>[class*="-l "] {
			display: inline-block;
		}
	}

	.tvn-destinationGrid {
		.hiddenTile {
			display: block;
		}
	}

	.height-large {
		.tvn-commonDestinationTile {
			.tvn-linkOverlay {
				padding: 10px 4px 55px;
			}
		}
	}

	.tvn-destination {
		&:not(:first-child) {
			margin-top: 2rem;
			padding-top: 2.2rem;
			border-top: solid 1px $colorSightBorder;
		}
	}

	body {
		&.page {
			.header {
				background-color: rgba(0,0,0,.95);
				height: 65px;
				line-height: 65px;
				margin-bottom: 0;

				.tvn-container {
					vertical-align: middle;
					height: 100%;

					.tvn-auth {
						top: 25%;
					}
				}
			}
		}
	}
}

@media screen and (min-width: $screenLg) {
	.container {
		max-width: 1054px;
	}
}

@media screen and (min-width: $screenXSmallSite) {
	.tvn-modal {
		.modal-dialog {
			margin-top: 20vh; 
		}
	}

	.tvn-image-slide {
		.tvn-image-card {
			&:active, &:focus, &:hover {
				transform:translateY(-.5rem);
			}
		}
	}

	.tvn-image-slide {
		.tvn-image-card_content {
			min-height: 14.5rem;
		}
	}

	.tvn-destinationGrid {
		.height-xlarge-container {
			height: 52.1428571em;
		}
		.height-xlarge {
			height: 52.1428571em;
		}
		.height-large {
			height: 35.7142857em;
		}
		.height-medium {
			height: 28.5714286em;
		}
		.height-xsmall {
			height: 17.8571429em;
		}
		.height-small {
			height: 22.8571429em;
		}
	}
}

/* Mobile - max screen: 767px */
@media screen and (max-width: $screenMobileMax) {
	.header {
		//background-color: rgba(34,31,32,.85);
		background-color: transparent;
		height: 65px;
		margin-bottom: -65px;
		z-index: 10001;
		
		.tvn-container {
			display: block;
			position: relative;
			width: 100%;
			height: 100%;

			.tvn-auth {
				display: none;
				right: 5px;
				vertical-align: middle;
			}
			.tvn-mobile-nav {
				display: flex;
				position: absolute;
				right: 5px;
				.btn-mobile-menu {
					background-color: transparent;
					color: $colorWhite;
					font-size: 2rem;
					padding-top: 0;
					outline: none;
					box-shadow: none;
				}
				.tvn-btn-auth {
					color: $colorWhite;
					width: 35px;
					height: 35px;
					line-height: 1.45785;
					border-radius: 50%;
					border: solid 1px $colorWhite;
					text-align: center;
					font-size: 1.4rem;
					display: block;
					padding: 0;
					margin-top: 5px;

					&:hover, &:focus {
						background-color: transparent;
						border-color: $colorRed;
						color: $colorRed;
					}
				}
			}
		}

		.tvn-mobile-container {
			display: flex;
			align-items: center;
			text-align: center;
			justify-content: center;
			-webkit-box-pack: center;
			position: relative;
			height: 100%;

			.tvn-mobile-search {
				display: block;
				position: absolute;
				left: 5px;
				font-size: 2rem;
				a {
					color: $colorWhite;
				}
			}
		}
	}

	.page {
		.header {
			background-color: rgba(34,31,32,1);
			margin-bottom: -0;

			.tvn-logo {
				img {
					height: 45px;
				}
			}
		}
	}

	.tvn-logo {
		img {
			height: 45px;
		}
	}

	.tvn-mobile-menu-nav {
		top: 0;
		left: 0;
		bottom: 0;
		min-width: 220px;
		width: 75vw;
		position: fixed;
		z-index: 10000;
		overflow: hidden;
		overflow-y: auto;	
		&::-webkit-scrollbar {
			opacity: 0;
		}
	}

	.tvn-slide {
		height: auto;
		.tvn-cover-slide {
			height: 100vh;
		}
	}

	body.open-nav {
		.tvn-mobile-menu-nav {
			transition: transform 0.7s ease-in-out;
			-ms-transition: transform 0.7s ease-in-out;
		}
	}

	.tvn-mainsearch-block {
		.tvn-main-search {
			margin-top: 16%;
			margin-left: 25px;
			margin-right: 25px;

			.tvn-main-search-box {
				padding-bottom: 0;
			}
		}
	}

	.tvn-image-slide {
		.tvn-image-card_content {
			min-height: 14.5rem;
		}
	}

	.tvn-section {
		padding: 30px 0;
		min-height: auto;
	}
	.owl-theme {
		.owl-controls {
			.owl-buttons {
				.owl-prev {
					left: -10px;
				}
				.owl-next {
					right: -10px;
				}
			 }
		}
	}

	.tvn-top-sight-block {
		.tvn-sight-box {
			width: 50%;
		}
	}

	.tvn-top-sight-block {
		.tvn-sight-box {
			&:nth-child(odd) {
				.sight-inner {
					margin-right: 10px;
				}
			}
			&:nth-child(even) {
				.sight-inner {
					margin-left: 10px;
				}
			}
			.sight-inner {
				border-top: solid 1px $colorSightBorder;
			}
		}
	}

	.tvn-destination-block {
		margin-left: 0;
		margin-right: 0;
	}

	.tvn-destination {
		padding-bottom: 15px;
		border-bottom: solid 1px $colorSightBorder;
		margin-bottom: 15px;
		.tvn-destination_info {
			padding-right: 1rem;
			width: calc(98% - 15rem);

			.destination_info_link {
				h3 {
					overflow: hidden;
					white-space: nowrap;
					position: relative;
					text-overflow: ellipsis;
					padding-bottom: 10px;
					font-size: 1.6rem;
				}
			}
			.tvn-destination-socials {
				.tvn-view {
					margin-top: 5px;
				}
			}
		}

		.tvn-destination_image {
			height: 19.5rem;
			width: 15rem;

			.destination_image_bg {
				background-position: 50%;
				background-size: cover;
				height: 100%;
				width: 100%;
			}
		}
	}

	.mobileSearch {
		transform: translateX(-120%);
		transition: transform 0.3s ease-in-out;
		&.open {
			transform: translateX(0);
		}
	}

	.tvn-destinationGrid {
		.height-xlarge, .height-large, .height-medium, .height-xsmall, .height-small {
			height: 35.7142857em;
		}
	}

	.page-slide {
		display: none;
	}

	.tvn-auth-page {
		.tvn-login-reg-form {
			.social-plugin {
				padding: 15px 0 20px 0;
			}
			.frmReg {
				padding: 10px 0 0 0;
			}
			.sep-or {
				margin: 0;
			}
		}
	}

	.tvn-survival-guide {
		.survival-guide_list {

			> li {
				display: inline-block;
				width: 49%;
			}
		}
	}

	.tvn-diary_list {
		> li {
			&.tvn-diary_item {
				padding-bottom: 15px;
				margin-bottom: 15px;
				border-bottom: solid 1px $colorSightBorder;
			}
		}
	}

	.tvn-diary {
		.tvn-diary_image {
			text-align: center;
			display: block;

			img {
				margin: auto;
			}
		}

		.tvn-diary_info {
			display: flex;

			.tvn-diary_info_author, .tvn-diary_info_type, .tvn-diary_info_date {
				width: 33%;
			}
		}
	}

	.hidden-route {
		display: block;
	}

	.tvn-route_item {
		.tvn-route_item_info {
			.tvn-route_info_list {
				> li {
					display: inline-block;
					width: 49%;

					&.tvn-route_buttons {
						display: block;
						width: 100%;
					}

					 a {
					 	display: inline-block;
					 }
				}
			}
		}
	}

	.tvn-page {
		.sightbox {
			display: block;
			overflow: auto;
			height: 100%;
		}
	}
}

/* Mobile - landscape screen (ip5): 568px */
@media screen and (max-width: $screenLandscapeIp5) {
	.tvn-destinationGrid {
		.height-xlarge-container {
			height: 52.1428571em;
		}
		.height-xlarge {
			height: 52.1428571em;
		}
		.height-large {
			height: 35.7142857em;
		}
		.height-medium {
			height: 28.5714286em;
		}
		.height-xsmall {
			height: 17.8571429em;
		}
		.height-small {
			height: 22.8571429em;
		}
	}
}

/* Mobile - landscape screen (ip4): 480px */
@media screen and (max-width: $normalMbLgViewport) {
	.tvn-slide {
		height: auto;
		.tvn-cover-slide {
			height: 100vh;
		}
	}

	.tvn-mainsearch-block {
		.tvn-main-search {
			.nav-tabs {
				&>li {
					a {
						font-size: 1.2rem;
					}
				}
			}
		}
	}

	.tvn-destinationGrid {
		.height-xlarge-container, .height-xlarge, .height-large, .height-medium, .height-xsmall, .height-small {
			height: 17.8571429em;
		}
	}
	.tvn-image-slide {
		.tvn-image-card_content {
			min-height: 9.5rem;
			.image-card_marker {
				font-size: 1.5rem;
				height: 2.5rem;
				line-height: 2.5rem;
				width: 2.5rem;
				margin-bottom: 1.25rem;
				&:after {
					border-radius: .5rem;
					margin-top: -2.5rem;
				}
			}
			.image-card_subtitle, .image-card_title {
				font-size: 1.25rem;
			}
			.image-card_title {
				letter-spacing: .06rem;
				line-height: 1.35714;
			}
		}
	}

	.tvn-page-detail {
		.tvn-heading-link {
			font-size: .8rem;
		}

		.sight-heading {
			font-size: 3rem;
		}	
	}
	.tvn-top-sight-block {
		.tvn-sight-box {
			display: block;
			width: 100%;

			&:nth-child(odd) {
				.sight-inner {
					margin-right: 0;
				}
			}
			&:nth-child(even) {
				.sight-inner {
					margin-left: 0;
				}
			}
		}
	}

	.tvn-image-slide {
		height: 300px;
	}

	.tvn-destination-heading {
		h2 {
			font-size: 2rem;
			font-weight: 500;
			letter-spacing: -.06rem;
		}
	}

	.tvn-destination {
		margin-left: 0;
		margin-right: 0;
		.tvn-destination_info {
			display: block;
			padding-right: 0;
			padding-left: 0;
			width: 100%;

			.destination_info_link {
				h3 {
					font-size: 1.5rem;
					margin-bottom: 0;
					white-space: normal;
					font-weight: 600;
					letter-spacing: -.06em;
				}
			}
			.tvn-destination-socials {
				.tvn-view {
					margin-top: 5px;
				}
			}
		}

		.tvn-destination_image {
			height: 19.5rem;
			width: 15rem;
			display: none;

			.destination_image_bg {
				background-position: 50%;
				background-size: cover;
				height: 100%;
				width: 100%;
			}
		}
	}
	.tvn-destination-block {
		margin-left: 0;
		margin-right: 0;
	}

	.tvn-top-destination-box {
		margin: 0;
	}

	.tvn-route_item {
		.tvn-route_item_post {
			.tvn-route_item_title {
				h3 {
					font-size: 1.3rem;
					font-weight: 600;
				}
			}
		}
	}

	.tvn-route_item {
		.tvn-route_item_info {
			.tvn-route_info_list {
				> li {
					display: flex;
					width: 100%;

					&.tvn-route_buttons {
						display: block;
						width: 100%;
					}

					 a {
					 	display: inline-block;
					 }
				}
			}
		}
	}	
}

/* Mobile: portrait screen (IP6): 414px */
@media screen and (max-width: $screenPortraitIp6) {
	.tvn-slide {
		.tvn-cover-slide {
			height: 65vh;
		}
	}

	.tvn-mainsearch-block {
		.tvn-main-search {
			margin-top: 22%;
			margin-left: 0;
			margin-right: 0;
		}
	}

	.tvn-image-slide {
		height: 230px;
	}

	.tvn-page-detail {
		.tvn-heading-link {
			font-size: .8rem;
		}

		.sight-heading {
			font-size: 2.2rem;
		}	
	}

	.tvn-survival-guide {
		.survival-guide_list {

			> li {
				display: block;
				width: 100%;
			}
		}
	}

	.tvn-diary_list {
		position: relative;
		display: block;

		> li {
			display: block;
			width: 100%;
		}
	}

	.tvn-diary {
		.tvn-diary_image {
			text-align: center;
			display: block;

			img {
				margin: auto;
			}
		}
		.tvn-diary_link {
			h3 {
				font-size: 1.3rem;
				font-weight: 600;
			}
		}

		.tvn-diary_info {
			display: block;

			.tvn-diary_info_author {
				display: block;
				width: 100%;
			}

			.tvn-diary_info_type, .tvn-diary_info_date {
				display: inline-block;
				width: 49%;
			}
		}

		.tvn-diary_desc {
			text-align: justify;
		}

		.tvn-diary-socials {
			font-size: .85rem;
		}
	}
}

@media screen and (max-width: $screenPostraitGalaxyS) {
	.tvn-mobile-menu-nav {
		width: 75vw;
	}
}

@media screen and (max-width: $screenPortraitIp4) {
	.tvn-mobile-menu-nav {
		.tvn-mobile-menu {
			> li {
				> a {
					font-size: .9rem;
				}

				.tvn-mobile-sub-menu {
					> li {
						> a {
							font-size: .9rem;
						}
					}
				}
			}
		}
	}
}