@mixin flexFlow($direction, $wrap) {
	flex-flow: $direction $wrap;
	-moz-flex-flow: $direction $wrap;
	-webkit-flex-flow: $direction $wrap;
	-ms-flex-direction: $direction;
	-ms-flex-wrap: $wrap;
}

@mixin alignContent($type) {
	align-content: $type;
	-webkit-align-content: $type;
	-moz-align-content: $type;
	-ms-align-content: $type;
	justify-content: $type;
	-webkit-justify-content: $type;
}

@mixin textRendering($type) {
	text-rendering: $type;
}

@mixin borderRadius($size) {
	border-radius: $size;
	-webkit-border-radius: $size;
	-moz-border-radius: $size;
	-o-border-radius: $size;
}

@mixin transition($type) {
	transition: $type;
	-webkit-transition: $type;
	-moz-transition: $type;
	-o-transition: $type;
	-ms-transition: $type;
}

@mixin boxAlign($type) {
	box-align: $type;
	-webkit-box-align: $type;
	-moz-box-align: $type;
	-ms-box-align: $type;
}

// rem fallback - credits: http://zerosixthree.se/

@function calculateRem($size) {
	$remSize: $size / 16px;
	@return $remSize * 1rem;
}

@mixin font-size($size) {
	font-size: $size;
	font-size: calculateRem($size);
}

// border radius

@mixin border-radius($radius:.25em) {
	border-radius: $radius;
}
