.route-container {
	width: 100%;
	margin: 0 auto;

	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

#route-timeline {
	position: relative;
	padding: 2em 0;
	margin-top: 2em;
	margin-bottom: 2em;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 18px;
		height: 100%;
		width: 4px;
		background: $colorTimeline;
	}
}

.route-timeline-block {
	position: relative;
	margin: 2em 0;

	&:after {
		content: "";
		display: table;
		clear: both;
	}

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.route-timeline-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);

	img {
		display: block;
		width: 24px;
		height: 24px;
		position: relative;
		left: 50%;
		top: 50%;
		margin-left: -12px;
		margin-top: -12px;
	}

	&.route-picture {
		background: $colorTimelineDone;
	}
	&.route-movie {
		background: $colorTimelineDelay;
	}
	&.route-location {
		background: $colorTimelineProcessing;
	}
}

.route-timeline-content {
	position: relative;
	margin-left: 60px;
	background: white;
	@include borderRadius(0.25em);
	padding: 1em;
	box-shadow: 0 3px 0 $colorTimeline;

	&:after {
		content: '';
		display: table;
		clear: both;
	}

	h2 {
		color: $colorImageMarker;
	}

	p, .route-read-more, .route-date {
		font-size: 13px;
		font-size: 0.8125rem;
	}

	.route-read-more, .route-date {
		display: inline-block;
	}

	p {
		margin: 1em 0;
		line-height: 1.6;
	}

	.route-read-more {
		float: right;
		padding: .8em 1em;
		background: $colorRed;
		color: $colorWhite;
		border-radius: 0.25em;

		&:hover {
			opacity: .8;
		}
	}

	.route-date {
		float: left;
		padding: .8em 0;
		opacity: .7;
	}

	&:before {
		content: '';
		position: absolute;
		top: 16px;
		right: 100%;
		height: 0;
		width: 0;
		border: 7px solid transparent;
		border-right: 7px solid white;
	}
}

@-webkit-keyframes route-bounce-1 {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.5);
	}

	60% {
		opacity: 1;
		-webkit-transform: scale(1.2);
	}

	100% {
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes route-bounce-1 {
	0% {
		opacity: 0;
		-moz-transform: scale(0.5);
	}

	60% {
		opacity: 1;
		-moz-transform: scale(1.2);
	}

	100% {
		-moz-transform: scale(1);
	}
}

@keyframes route-bounce-1 {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.5);
		-moz-transform: scale(0.5);
		-ms-transform: scale(0.5);
		-o-transform: scale(0.5);
		transform: scale(0.5);
	}

	60% {
		opacity: 1;
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-ms-transform: scale(1.2);
		-o-transform: scale(1.2);
		transform: scale(1.2);
	}

	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes route-bounce-2 {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100px);
	}

	60% {
		opacity: 1;
		-webkit-transform: translateX(20px);
	}

	100% {
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes route-bounce-2 {
	0% {
		opacity: 0;
		-moz-transform: translateX(-100px);
	}

	60% {
		opacity: 1;
		-moz-transform: translateX(20px);
	}

	100% {
		-moz-transform: translateX(0);
	}
}

@keyframes route-bounce-2 {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100px);
		-moz-transform: translateX(-100px);
		-ms-transform: translateX(-100px);
		-o-transform: translateX(-100px);
		transform: translateX(-100px);
	}

	60% {
		opacity: 1;
		-webkit-transform: translateX(20px);
		-moz-transform: translateX(20px);
		-ms-transform: translateX(20px);
		-o-transform: translateX(20px);
		transform: translateX(20px);
	}

	100% {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
}

@-webkit-keyframes route-bounce-2-inverse {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100px);
	}

	60% {
		opacity: 1;
		-webkit-transform: translateX(-20px);
	}

	100% {
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes route-bounce-2-inverse {
	0% {
		opacity: 0;
		-moz-transform: translateX(100px);
	}

	60% {
		opacity: 1;
		-moz-transform: translateX(-20px);
	}

	100% {
		-moz-transform: translateX(0);
	}
}

@keyframes route-bounce-2-inverse {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100px);
		-moz-transform: translateX(100px);
		-ms-transform: translateX(100px);
		-o-transform: translateX(100px);
		transform: translateX(100px);
	}

	60% {
		opacity: 1;
		-webkit-transform: translateX(-20px);
		-moz-transform: translateX(-20px);
		-ms-transform: translateX(-20px);
		-o-transform: translateX(-20px);
		transform: translateX(-20px);
	}

	100% {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
}

/* screen xsmall site: 768px */
@media screen and (min-width: $screenXSmallSite) {
	.route-timeline-content {
		h2 {
			font-size: 20px;
			font-size: 1.25rem;
		}
		p {
			font-size: 16px;
			font-size: 1rem;
		}

		.route-read-more, .route-date {
			font-size: 14px;
			font-size: 0.875rem;
		}
	}
}

@media only screen and (min-width: 1170px) {
	#route-timeline {
		margin-top: 3em;
		margin-bottom: 3em;

		&:before {
			left: 5%;
			margin-left: -2px;
		}
	}

	.route-timeline-block {
		margin: 4em 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.route-timeline-img {
		width: 60px;
		height: 60px;
		left: 5%;
		margin-left: -30px;
		/* Force Hardware Acceleration in WebKit */
		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;
	}

	.route-timeline-content {
		margin-left: 15%;
		padding: 1.6em;
		width: 85%;

		&::before {
			top: 24px;
			right: 100%;
			border-color: transparent;
			border-right-color: $colorWhite;
		}

		.route-read-more {
			float: left;
		}

		.route-date {
			position: absolute;
			width: 100%;
			right: 81%;
			top: -45px;
			font-size: 16px;
			font-size: 1rem;
			text-align: right;	
		}
	}

	.cssanimations {
		.route-timeline-img {
			&.is-hidden {
				visibility: hidden;
			}

			&.bounce-in {
				visibility: visible;
				-webkit-animation: route-bounce-1 0.6s;
				-moz-animation: route-bounce-1 0.6s;
				animation: route-bounce-1 0.6s;
			}
		}

		.route-timeline-content {
			&.is-hidden {
				visibility: hidden;
			}

			&.bounce-in {
				visibility: visible;
				-webkit-animation: route-bounce-2 0.6s;
				-moz-animation: route-bounce-2 0.6s;
				animation: route-bounce-2 0.6s;
			}
		}
	}
}