.tvn-modal {
	.modal-content {
		border-radius: 0;
	}

	.modal-header {
		position: relative;
		.close {
			position: absolute;
			top: 0;
			right: -30px;
			width: 30px;
			height: 30px;
			font-size: 30px;
			color: $colorLightGray;
		}
	}
	.close {
		position: absolute;
		top: 0;
		right: -30px;
		width: 30px;
		height: 30px;
		font-size: 30px;
		color: $colorLightGray;
	}
}