.owl-theme {
	.owl-controls {
		left: 0;
		padding: 0;
		position: absolute;
		right: 0;
		text-align: center;
		top: 58%;
		.owl-pagination {
			opacity: 0;
			display: none;
		}
		.owl-buttons {
		 	div {
				color: $colorImageMarker;
				display: inline-block;
				zoom: 1;
				*display: inline;/*IE7 life-saver */
				margin: 5px;
				padding: 3px 10px;
				font-size: 12px;
				-webkit-border-radius: 30px;
				-moz-border-radius: 30px;
				border-radius: 30px;
				background: #869791;
				filter: Alpha(Opacity=50);/*IE7 fix*/
				opacity: 0.5;
			}
			.owl-prev, .owl-next {
				width: 40px;
				height: 40px;
				line-height: 30px;
				border: solid 1px $colorSubMenuFocus;
				font-size: 34px;
				border-radius: 100%;
				position: absolute;
				bottom: 0;
				background-color: $colorWhite;
			}
			.owl-prev {
				left: -20px;
			}

			.owl-next {
				right: -20px;
			}
		}
		&.clickable {
			.owl-buttons {
				div {
					&:hover {
						filter: Alpha(Opacity=100);/*IE7 fix*/
						opacity: 1;
						text-decoration: none;					
					}
				}
			}
			.owl-page {
				&:hover {
					span {
						filter: Alpha(Opacity=100);/*IE7 fix*/
						opacity: 1;	
					}
				}
			}
		}
		.owl-page {
			display: inline-block;
			zoom: 1;
			*display: inline;/*IE7 life-saver */
			span {
				display: block;
				width: 12px;
				height: 12px;
				margin: 5px 7px;
				filter: Alpha(Opacity=50);/*IE7 fix*/
				opacity: 0.5;
				-webkit-border-radius: 20px;
				-moz-border-radius: 20px;
				border-radius: 20px;
				background: #869791;
				.owl-numbers {
					height: auto;
					width: auto;
					color: #FFF;
					padding: 2px 10px;
					font-size: 12px;
					-webkit-border-radius: 30px;
					-moz-border-radius: 30px;
					border-radius: 30px;
				}
			}
			&.active {
				span {
					filter: Alpha(Opacity=100);/*IE7 fix*/
					opacity: 1;
				}
			}
		}
	}
	/* preloading images */
	.owl-item {
		&.loading{
			min-height: 150px;
			background: url(../images/AjaxLoader.gif) no-repeat center center
		}
	}
} 