$fontfamily: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontPathOpenSans: "./fonts";

/**
*
*	color
*
*/
$colorWhite: #fff;
$colorGray: #ddd;
$colorRed: #c9302c;
$colorHeaderLink: #c2c2c6;
$colorSubMenu: #7c7c8c;
$colorSubMenuFocus: #212121;
$colorLightGray: #fafafa;
$colorLightBlue: #3083f0;
$colorHeadingRoute: #eee;
$colorNormalGray: #6f6e6e;
$colorFocusRed: #d80606;
$colorBlack: #000;
$colorDate: #b3b3b3;
$colorFooterMenuLink: #acacaf;
$colorBorderFooter: #545456;
$colorSep: #e1e1e5;
$colorImageMarker: #3b444f;
$colorSightBorder: #e4e4e4;
$colorUserProfileStatTitle: #99a9b3;

$bgSignUpButton: #424242;
$bgFooter: #1a1a1a;
$bgFacebook: #39559f;
$bgGooglePlus: #dd4b39;
$bgImageCard: #ccc;

/**
*
*		mobile screen
*
*/
$screenPortraitIp4: 320px;
$screenPostraitGalaxyS: 360px;
$screenPortraitIp6: 414px;
$normalMbLgViewport: 480px;
$screenLandscapeIp5: 568px;
$screenMobileMax: 767px;
$screenXSmallSite: 768px;
$screenMediumSite: 992px;
$screenDefaultSite: 1024px;
$screenLg: 1200px;

// colors

$colorTimeline: #d7e4ed;

$colorTimelineDelay: #c9302c; // red
$colorTimelineDone: #449d44; // green
$colorTimelineProcessing: #ec971f; // yellow