<app-triproute-header [hidden]="!isShowHeader"></app-triproute-header>
<app-triproute-sidebar [hidden]="!isShowSidebar"></app-triproute-sidebar>
<div id="content">
    <router-outlet></router-outlet>
</div>
<router-outlet name="popup"></router-outlet>
<app-triproute-footer [hidden]="!isShowFooter"></app-triproute-footer>
