<div id="content-header">
    <div id="breadcrumb">
        <a routerLink="/admin/dashboard" title="Go to Home" class="tip-bottom">
            <i class="icon-home"></i> Trang chủ</a>
        <a routerLink="/admin/post-management">Quản lý Địa danh</a> <a routerLink="/admin/post-management-add" class="current">Tạo mới Địa danh</a>
    </div>
    <h1>Tạo mới Địa danh</h1>
</div>
<div class="container-fluid"><hr>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#tabGeneral">Thông tin chung</a></li>
              <li><a data-toggle="tab" href="#tabSight">Danh lam thắng cảnh</a></li>
              <li><a data-toggle="tab" href="#tabGallery">Hình ảnh</a></li>
            </ul>
          </div>
          <form class="form-horizontal" novalidate [formGroup]="postForm" (ngSubmit)="createPost()">
          <div class="widget-content tab-content">
            <div id="tabGeneral" class="tab-pane active">
                <div formGroupName="infoForm">
                  <div class="form-group" [ngClass]="(postForm.get('infoForm').controls.title?.errors && postForm.get('infoForm').controls.title?.touched) ? 'has-error' : ''">
                    <label for="title" class="col-md-2 control-label">Tên địa danh <span class="text-required">*</span></label>
                    <div class="col-md-10">
                      <input type="text" class="form-control" placeholder="Tên địa danh" required minlength="20" maxlength="300" formControlName="title" />
                      <span class="help-block text-error" *ngIf="postForm.get('infoForm').controls.title?.errors?.required && postForm.get('infoForm').controls.title?.touched">Tên địa danh không được để trống</span>
                      <span class="help-block text-error" *ngIf="(postForm.get('infoForm').controls.title?.errors?.minlength && (!postForm.get('infoForm').controls.title?.errors?.required && !postForm.get('infoForm').controls.title?.errors?.maxlength)) && postForm.get('infoForm').controls.title?.touched">Tên địa danh không ngắn dưới 20 ký tự</span>
                      <span class="help-block text-error" *ngIf="(postForm.get('infoForm').controls.title?.errors?.maxlength && (!postForm.get('infoForm').controls.title?.errors?.required && !postForm.get('infoForm').controls.title?.errors?.minlength)) && postForm.get('infoForm').controls.title?.touched">Tên địa danh không dài quá 300 ký tự</span>
                    </div>
                  </div>
                  <div class="form-group" [ngClass]="(postForm.get('infoForm').controls.address?.errors && postForm.get('infoForm').controls.address?.touched) ? 'has-error' : ''">
                    <label for="title" class="col-md-2 control-label">Địa chỉ <span class="text-required">*</span></label>
                    <div class="col-md-10">
                      <input type="text" class="form-control" placeholder="Địa chỉ" required formControlName="address" />
                      <span class="help-block text-error" *ngIf="postForm.get('infoForm').controls.address?.errors?.required && postForm.get('infoForm').controls.address?.touched">Địa chỉ không được để trống</span>
                    </div>
                  </div>
                  <div class="form-group" [ngClass]="(postForm.get('infoForm').controls.description?.errors && postForm.get('infoForm').controls.description?.touched) ? 'has-error' : ''">
                    <label for="description" class="col-md-2 control-label">Mô tả <span class="text-required">*</span></label>
                    <div class="col-md-10">
                      <textarea class="form-control" formControlName="description" required minlength="20" maxlength="350" rows="3"></textarea>
                      <span class="help-block text-error" *ngIf="postForm.get('infoForm').controls.description?.errors?.required && postForm.get('infoForm').controls.description?.touched">Mô tả không được để trống</span>
                      <span class="help-block text-error" *ngIf="(postForm.get('infoForm').controls.description?.errors?.minlength && (!postForm.get('infoForm').controls.description?.errors?.required && !postForm.get('infoForm').controls.description?.errors?.maxlength)) && postForm.get('infoForm').controls.description?.touched">Mô tả không ngắn dưới 20 ký tự</span>
                      <span class="help-block text-error" *ngIf="(postForm.get('infoForm').controls.description?.errors?.maxlength && (!postForm.get('infoForm').controls.description?.errors?.required && !postForm.get('infoForm').controls.description?.errors?.minlength)) && postForm.get('infoForm').controls.description?.touched">Mô tả không dài quá 350 ký tự</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="content" class="col-md-2 control-label">Nội dung <span class="text-required">*</span></label>
                    <div class="col-md-10">
                      <textarea id="content" class="form-control" formControlName="content" style="height: 600px;"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="categoryId" class="col-md-2 control-label">Thuộc danh mục</label>
                    <div class="col-md-10">
                      <select id="categoryId" class="form-control dm-selector" formControlName="categoryId">
                          <option *ngFor="let category of categories; let i = index" [value]="category.id" [attr.selected]="category.id === 0 ? true: null">{{ category.name }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="countryId" class="col-md-2 control-label">Thuộc Quốc gia</label>
                    <div class="col-md-10">
                      <input type="text" class="form-control dm-selector" id="countryId" placeholder="Quốc gia" required formControlName="countryId" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="imageUrl" class="col-md-2 control-label">Ảnh</label>
                    <div class="col-md-10">
                      <input type="file" id="imageUrl" formControlName="imageUrl" multiple (change)="onChange($event, showFileNames)" />
                      <div class="uploaded" #showFileNames>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" id="stats" formControlName="status" value="">
                          <span>Hiển thị </span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div id="tabSight" class="tab-pane">
              <div formGroupName="sightForm">
                <div class="form-group" [ngClass]="(postForm.get('sightForm').controls.priceInfo?.errors && (postForm.get('sightForm').controls.priceInfo?.dirty || postForm.get('sightForm').controls.priceInfo?.touched)) ? 'has-error' : ''">
                  <label for="imageUrl" class="col-md-2 control-label">Thông tin giá</label>
                  <div class="col-md-10">
                    <textarea id="priceInfo" class="form-control" maxlength="250" formControlName="priceInfo"></textarea>
                    <span class="help-block text-error" *ngIf="postForm.get('sightForm').controls.priceInfo?.errors?.maxlength && (postForm.get('sightForm').controls.priceInfo?.dirty || postForm.get('sightForm').controls.priceInfo?.touched)">Thông tin giá không dài quá 250 ký tự</span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="imageUrl" class="col-md-2 control-label">Thông tin giờ</label>
                  <div class="col-md-10">
                    <textarea id="hourInfo" class="form-control" formControlName="hourInfo"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label for="imageUrl" class="col-md-2 control-label">Thông tin danh lam</label>
                  <div class="col-md-10">
                    <textarea id="locationInfo" class="form-control" formControlName="locationInfo"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label for="imageUrl" class="col-md-2 control-label">Bản đồ</label>
                  <div class="col-md-10">
                    <input type="text" id="mapUrl" class="form-control" formControlName="mapUrl" />
                  </div>
                </div>
              </div>
            </div>
            <div id="tabGallery" class="tab-pane">
              <p>And is full of waffle to It has multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.multiple paragraphs and is full of waffle to pad out the comment. </p>
              <img src="img/demo/demo-image3.jpg" alt="demo-image"/></div>
          </div>
          <div class="form-group" style="padding: 15px 10px;">
            <div class="text-right">
              <button type="button" class="btn btn-default">Hủy bỏ</button>
              <button type="submit" class="btn btn-success" [disabled]="postForm.invalid">Lưu lại</button>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
</div>
