#logo, #loginbox {
    width: 30%;
    padding-top: 10%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#logo {
    img {
        margin: 0 auto;
        display: block;
    }
}


#loginbox {
    overflow: hidden !important;
    text-align: left;

    form {
        width:100%;
        background:#2E363F;
        position:relative;
        top:0;
        left:0;

        &#loginform {
            z-index: 200;
            display:block;
        }

        &#recoverform {
            z-index: 100;
            display:none;

            .form-actions {
                margin-top: 10px;
            }
        }
    }

    .form-actions {
        padding: 14px 20px 15px;
        .pull-left {
            margin-top: 0px;
        }
    }

    .normal_text {
        padding:15px 10px;
        text-align:center;
        font-size:14px;
        line-height:20px;
        background:#2E363F;
        color:#fff;
    }

    .checkbox {
      label {
        color: #fff;
      }
    }
}

.form-vertical, .form-actions {
    margin-bottom: 0;
    background:none;
    border-top:1px solid #3f4954;
}

@media (max-width:800px) {
    body.body-adm {
        #logo {
            width: 60%;
        }
        #loginbox {
            width:80%;
        }
    }
}

@media (max-width: 480px) {
    body.body-adm {
        #logo {
            width: 40%;
        }
        #loginbox {
            width:90%;
            .control-group {
                padding:8px 0;
                margin-bottom:0px;
            }
        }
    }
}
