<div class="login-container">
    <div id="loginbox">
        <form class="form-vertical" novalidate [formGroup]="loginForm" (ngSubmit)="login()"  [hidden]="hideLoginForm">
            <div class="form-group normal_text"> <h3>Đăng nhập hệ thống quản trị</h3></div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon bg_lg" id="addon-username"><i class="icon-user"> </i></span>
                <input type="text" id="username" class="form-control" required placeholder="Tài khoản" formControlName="username" aria-describedby="addon-username" />
              </div>
              <p *ngIf="loginForm.controls.username?.errors?.required && loginForm.controls.username?.touched" class="help-block">Tài khoản không để trống</p>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon bg_ly" id="addon-password"><i class="icon-lock"> </i></span>
                <input id="password" type="password" class="form-control" placeholder="Mật khẩu" required formControlName="password" aria-describedby="addon-password" />
              </div>
              <p *ngIf="loginForm.controls.password?.errors?.required && loginForm.controls.password?.touched" class="help-block">Mật khẩu không để trống</p>
            </div>
            <div class="form-group">
              <div class="checkbox">
                  <label>
                      <input type="checkbox" value="remember-me" formControlName="rememberMe"> Ghi nhớ
                  </label>
              </div>
            </div>
            <div class="form-actions">
                <span class="pull-left"><a href="javascript:void(0)" class="flip-link btn btn-info" id="to-recover" (click)="goRecoverForm()" >Quên mật khẩu?</a></span>
                <span class="pull-right"><button type="submit" class="btn btn-success btn-login" > Đăng nhập</button></span>
            </div>
        </form>
        <form id="recoverform" action="#" class="form-vertical" [formGroup]="recoverForm" (ngSubmit)="recover()" [hidden]="hideRecoverForm">
            <p class="normal_text">Nhập địa chỉ e-mail của bạn vào mẫu bên dưới. Chúng tôi sẽ hướng dẫn bạn cách khôi phục mật khẩu cho bạn</p>

                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_lo"><i class="icon-envelope"></i></span><input type="email" placeholder="Địa chỉ e-mail" formControlName="email" />
                    </div>
                </div>

            <div class="form-actions">
                <span class="pull-left"><a href="javascript:void(0)" (click)="backLoginForm()" class="flip-link btn btn-success" id="to-login">&laquo; Quay lại đăng nhập</a></span>
                <span class="pull-right"><a class="btn btn-info btn-reecover" href="javascript:void(0)">Khôi phục</a></span>
            </div>
        </form>
    </div>
</div>
