<div id="content-header">
    <div id="breadcrumb">
        <a routerLink="/admin/dashboard" title="Quay lại trang chủ" class="tip-bottom"><i class="icon-home"></i> Trang chủ</a>
        <a routerLink="['/admin/user-management', {'state': 'deleted'}]" class="current" *ngIf="stateParam === 'deleted'; else linkBreadcrumb">Danh sách tài khoản đã xóa</a>
        <ng-template #linkBreadcrumb>
            <a routerLink="/admin/user-management" class="current">Danh sách tài khoản</a>
        </ng-template>
    </div>
    <h1 *ngIf="stateParam === 'deleted'; else headingPage"> Danh sách tài khoản đã xóa</h1>
    <ng-template #headingPage>
        <h1> Danh sách tài khoản</h1>
    </ng-template>
</div>
<div class="container-fluid">
    <hr>
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title"> <span class="icon">
                <input type="checkbox" id="title-checkbox" name="title-checkbox" />
                </span>
                <h5>Thông tin</h5>
                <button class="btn-createuser btn btn-primary pull-right" (click)="goToCreateUser()" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Tạo tài khoản mới</button>
                </div>
                <div class="widget-content nopadding">
                <table class="table table-bordered table-striped with-check adm-user-list">
                    <thead>
                    <tr>
                        <th><i class="icon-resize-vertical"></i></th>
                        <th>Tài khoản</th>
                        <th>Đăng nhập lần cuối</th>
                        <th *ngIf="stateParam === 'deleted'; else headerUser">Người xóa</th>
                        <ng-template #headerUser>
                            <th>Người tạo</th>
                        </ng-template>
                        <th *ngIf="stateParam === 'deleted'; else headerCreateDate">Ngày xóa</th>
                        <ng-template #headerCreateDate>
                            <th>Ngày tạo</th>
                        </ng-template>
                        <th>Trạng thái</th>
                        <th>&nbsp;</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>haonh</td>
                        <td>19/04/2017 22:25</td>
                        <td>admin</td>
                        <td class="center">01/01/2017</td>
                        <td><span class="btn-success label-status">hoạt động</span></td>
                        <td class="adm-user-buttons">
                            <a routerLink="/">Sửa</a>
                            <a routerLink="/">Xóa</a>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>haonh</td>
                        <td>19/04/2017 22:25</td>
                        <td>admin</td>
                        <td class="center">01/01/2017</td>
                        <td><span class="btn-success label-status">hoạt động</span></td>
                        <td class="adm-user-buttons">
                            <a routerLink="/">Sửa</a>
                            <a routerLink="/">Xóa</a>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>haonh</td>
                        <td>19/04/2017 22:25</td>
                        <td>admin</td>
                        <td class="center">01/01/2017</td>
                        <td><span class="btn-danger label-status">khóa</span></td>
                        <td class="adm-user-buttons">
                            <a routerLink="/">Sửa</a>
                            <a routerLink="/">Xóa</a>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>haonh</td>
                        <td>19/04/2017 22:25</td>
                        <td>admin</td>
                        <td class="center">01/01/2017</td>
                        <td><span class="btn-success label-status">hoạt động</span></td>
                        <td class="adm-user-buttons">
                            <a routerLink="/">Sửa</a>
                            <a routerLink="/">Xóa</a>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>haonh</td>
                        <td>19/04/2017 22:25</td>
                        <td>admin</td>
                        <td class="center">01/01/2017</td>
                        <td><span class="btn-success label-status">hoạt động</span></td>
                        <td class="adm-user-buttons">
                            <a routerLink="/">Sửa</a>
                            <a routerLink="/">Xóa</a>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>haonh</td>
                        <td>19/04/2017 22:25</td>
                        <td>admin</td>
                        <td class="center">01/01/2017</td>
                        <td><span class="btn-danger label-status">khóa</span></td>
                        <td class="adm-user-buttons">
                            <a routerLink="/">Sửa</a>
                            <a routerLink="/">Xóa</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>