<div id="content-header">
    <div id="breadcrumb">
        <a routerLink="/admin/dashboard" title="Go to Home" class="tip-bottom">
            <i class="icon-home"></i> Trang chủ</a>
        <a routerLink="/admin/user-management">Quản lý tài khoản</a> <a href="#" class="current">Tạo mới tài khoản</a>
    </div>
    <h1>Tạo mới tài khoản</h1>
</div>
<div class="container-fluid"><hr>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
            <h5>Thông tin có <span class="text-required">*</span> là bắt buộc</h5>
          </div>
          <div class="widget-content nopadding">
            <form class="form-horizontal form-adm-user" novalidate [formGroup]="userForm" (ngSubmit)="createUser()">
              <div class="form-group" [ngClass]="(userForm.get('username').errors && userForm.get('username').touched) ? 'has-error' : ''">
                <label for="username" class="col-md-2 control-label">Tên tài khoản <span class="text-required">*</span></label>
                <div class="col-md-10">
                  <input type="text" class="form-control" placeholder="Tài khoản" required maxlength="50" ([ngModel])="user.username" formControlName="username" />
                  <span class="help-block text-error" *ngIf="userForm.controls.username?.errors?.required && userForm.controls.username?.touched">Tài khoản không được để trống</span>
                  <span class="help-block text-error" *ngIf="userForm.controls.username?.errors?.maxlength && userForm.controls.username?.touched">Tài khoản có độ dài không quá 10 ký tự</span>
                </div>
              </div>
              <div formGroupName="pw">
                <div class="form-group" [ngClass]="(userForm.get('pw').controls.password?.errors && userForm.get('pw').controls.password?.touched) ? 'has-error' : ''">
                  <label for="password" class="col-md-2 control-label">Mật khẩu <span class="text-required">*</span></label>
                  <div class="col-md-10">
                    <input type="password" class="form-control" placeholder="Mật khẩu" required minlength="8" maxlength="20"  formControlName="password" />
                    <span class="help-block text-error" *ngIf="userForm.get('pw').controls.password?.errors?.required && userForm.get('pw').controls.password?.touched">Mật khẩu không được để trống</span>
                    <span class="help-block text-error" *ngIf="(userForm.get('pw').controls.password?.errors?.minlength && !userForm.get('pw').controls.password?.errors?.required) && userForm.get('pw').controls.password?.touched">Mật khẩu quá ngắn. Phải 8 ký tự trở lên</span>
                  </div>
                </div>
                <div class="form-group" [ngClass]="((userForm.get('pw').hasError('passwordnotmatch') || userForm.get('pw').controls.confirmPassword?.errors) && !userForm.get('pw').controls.password?.errors && (userForm.get('pw').touched || userForm.get('pw').controls.confirmPassword?.touched)) ? 'has-error' : ''">
                  <label for="confirmPassword" class="col-md-2 control-label">Nhập lại mật khẩu <span class="text-required">*</span></label>
                  <div class="col-md-10">
                    <input type="password" class="form-control" placeholder="Mật khẩu lần 2" required minlength="8" maxlength="20" formControlName="confirmPassword" />
                    <span class="help-block text-error" *ngIf="userForm.get('pw').controls.confirmPassword?.errors?.required && userForm.get('pw').controls.confirmPassword?.touched">Nhập lại mật khẩu không được để trống</span>
                    <span class="help-block text-error" *ngIf="(userForm.get('pw').hasError('passwordnotmatch') && !userForm.get('pw').controls.confirmPassword?.errors?.required) && userForm.get('pw').touched">Nhập lại mật khẩu không trùng</span>
                  </div>
                </div>
              </div>
              <div class="form-group" [ngClass]="(userForm.controls.email?.errors && userForm.controls.email?.touched) ? 'has-error' : ''">
                <label for="email" class="col-md-2 control-label">Địa chỉ Email <span class="text-required">*</span></label>
                <div class="col-md-10">
                  <input type="email" class="form-control" placeholder="Địa chỉ email" required maxlength="100" formControlName="email" />
                  <span class="help-block text-error" *ngIf="userForm.controls.email?.errors?.required && userForm.controls.email?.touched">Địa chỉ email không được bỏ trống</span>
                  <span class="help-block text-error" *ngIf="(userForm.controls.email?.errors?.email && !userForm.controls.email?.errors?.required) && userForm.controls.email?.touched">Địa chỉ email không đúng định dạng</span>
                </div>
              </div>
              <div class="form-group" [ngClass]="(userForm.controls.firstname?.errors && userForm.controls.firstname?.touched) ? 'has-error' : ''">
                <label for="firstname" class="col-md-2 control-label">Họ</label>
                <div class="col-md-10">
                  <input type="text" class="form-control" placeholder="Họ" required maxlength="50" formControlName="firstname" />
                  <span class="help-block text-error" *ngIf="userForm.controls.firstname?.errors?.required && userForm.controls.firstname?.touched">Họ không được bỏ trống</span>
                  <span class="help-block text-error" *ngIf="(userForm.controls.firstname?.errors?.maxlength && !userForm.controls.firstname?.errors?.required) && userForm.controls.firstname?.touched">Họ không dài quá 50 ký tự</span>
                </div>
              </div>
              <div class="form-group" [ngClass]="(userForm.controls.lastname?.errors && userForm.controls.lastname?.touched) ? 'has-error' : ''">
                <label for="lastname" class="col-md-2 control-label">Tên</label>
                <div class="col-md-10">
                  <input type="text" class="form-control" placeholder="Tên" required maxlength="50" formControlName="lastname" />
                  <span class="help-block text-error" *ngIf="userForm.controls.lastname?.errors?.required && userForm.controls.lastname?.touched">Tên không được bỏ trống</span>
                  <span class="help-block text-error" *ngIf="(userForm.controls.lastname?.errors?.maxlength && !userForm.controls.lastname?.errors?.required) && userForm.controls.lastname?.touched">Tên không dài quá 50 ký tự</span>
                </div>
              </div>
              <div class="form-group">
                <label for="mobile" class="col-md-2 control-label">Điện thoại</label>
                <div class="col-md-10">
                  <input type="text" class="form-control" id="mobile" placeholder="Điện thoại" maxlength="20" formControlName="mobile" />
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      <span>Kích hoạt </span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-actions">
                  <div class="col-md-10 col-md-offset-2">
                    <button type="button" class="btn btn-default">Hủy bỏ</button>
                    <button type="submit" class="btn btn-success" [disabled]="userForm.invalid">Lưu lại</button>
                  </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
