<form class="form" [formGroup]="destinationForm" (ngSubmit)="createDestination()" novalidate>
    <div class="modal-header">
        <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="cancel()"><span aria-hidden="true">x</span>
        </button>
        <h4 class="modal-title">Tạo mới thông tin Châu lục</h4>
    </div>
    <div class="modal-body">
        <div class="form-group" [ngClass]="(destinationForm.controls.destinationNameVN?.errors && destinationForm.controls.destinationNameVN?.touched) ? 'has-error' : ''">
            <label class="control-label" for="destinationNameVN">Tên Châu lục (Tiếng việt):</label>
            <input type="text" class="form-control" required placeholder="Tên Châu lục (Tiếng việt)" formControlName="destinationNameVN" />
            <span class="help-block text-error" *ngIf="destinationForm.controls.destinationNameVN?.errors?.required && destinationForm.controls.destinationNameVN?.touched">Tên Châu lục (Tiếng việt) không để trống</span>
        </div>
        <div class="form-group" [ngClass]="(destinationForm.controls.destinationNameEN?.errors && destinationForm.controls.destinationNameEN?.touched) ? 'has-error' : ''">
            <label class="control-label" for="destinationNameEN">Tên Châu lục (English):</label>
            <input type="text" class="form-control" required placeholder="Tên Châu lục (English)" formControlName="destinationNameEN" />
            <span class="help-block text-error" *ngIf="destinationForm.controls.destinationNameEN?.errors?.required && destinationForm.controls.destinationNameEN?.touched">Tên Châu lục (English) không để trống</span>
        </div>
        <div class="form-group">
            <label class="control-label" for="longitude">Kinh độ:</label>
            <input type="text" class="form-control" id="longitude" placeholder="Kinh độ" formControlName="longitude" />
        </div>
        <div class="form-group">
            <label class="control-label" for="latitude">Vĩ độ:</label>
            <input type="text" class="form-control" id="latitude" placeholder="Vĩ độ" formControlName="latitude" />
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="1" formControlName="status"> Hiển thị
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            <i class="icon-remove"></i> Hủy bỏ
        </button>
        <button type="submit" class="btn btn-success" [disabled]="destinationForm.invalid">
            <i class="icon-save"></i> Lưu lại
        </button>
    </div>
</form>
